.search{    padding-left: 8%;}
.topsearch{ border: 1px solid #b7dcd9;
  height: 22px;
  padding-left: 5px;
  color: #3e3e3e;
  font-size: 10px;
  padding-top: 3px;}
    .topsarchbtn{height: 22px;
        background: #1d8c81;
        border: none;
        color: #fff;
        line-height: 17px;
        padding-top: 0px;}
        #tt::placeholder {
          
            opacity: 1; /* Firefox */
            font-size:11px;
            padding:2px;
          }
          
          #tt:-ms-input-placeholder { /* Internet Explorer 10-11 */
            padding:2px;
            font-size:11px;
          }
          
          #tt::-ms-input-placeholder { /* Microsoft Edge */
            padding:2px;
            font-size:11px;
          }