<div class="topNav clearfix">
<div class="row">
    <div class="col-12 col-md-6 col-lg-6">
        <label for="Company" class="companyName">Company : </label>
        <label for="Yoeki" class="companyName"> Yoeki Soft Pvt Ltd.</label>
    </div>
    <div class="col-12 col-md-6 col-lg-6 ">
        <div class="dropdown pullright setting">
            <!-- <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Dropdown Example
            <span class="caret"></span></button> -->
            <i class="fa fa-cog" aria-hidden="true"></i>
            <a href="#" class=" dropdown-toggle"  data-toggle="dropdown"> Setting <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">  <i class="fa fa-cog" aria-hidden="true"></i> Setting</a></li>
              <li><a href="#">  <i class="fa fa-lock" aria-hidden="true"></i> Change Password</a></li>
              <li><a href="#">  <i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a></li>
            </ul>
          </div>
    </div>
</div>

</div>