<div class="topNav clearfix">
<div class="row">
    <div class="col-12 col-md-7 col-lg-7">
        <!-- <label for="Company" class="companyName">Company : </label>
        <label for="Yoeki" class="companyName"> Yoeki Soft Pvt Ltd.</label> -->
    </div>
    <div class="col-12 col-md-5 col-lg-5 search">
     
    <span class="ml-3">
          <input class="topsearch" type="search" id="tt" placeholder="Global Search " >
       
          <button class="topsarchbtn" type="button" title="Search"><a [routerLink]="['/global-search']" style="color:#fff; font-size: 11px;"><i class="fa fa-search" aria-hidden="true"></i></a>
          </button>
       
    </span>
        <div class="dropdown pullright setting">
            <!-- <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Dropdown Example
            <span class="caret"></span></button> -->
            <i class="fa fa-cog" aria-hidden="true"  ></i>
            <a href="#" class=" dropdown-toggle"  data-toggle="dropdown" title="Settings"> Amarjeet <span class="caret"></span></a>
            <ul class="dropdown-menu dropdown-menu-right" >
              <li class="userdetails">  <i class="fa fa-user" aria-hidden="true"></i> Amarjeet</li>
              <li class="bgline">Account</li>
              <li><a href="#">  <i class="fa fa-file" aria-hidden="true"></i>Theme Setting</a></li>
              <li><a href="#">  <i class="fa fa-language" aria-hidden="true"></i>Language</a></li>             
              <li class="bgline">Manage</li>
              <li><a href="#" data-toggle="modal" data-target="#myModal">  <i class="fa fa-lock" aria-hidden="true"></i>Change Password</a></li>
              <li><a href="#">  <i class="fa fa-sign-out" aria-hidden="true"></i>Logout</a></li>
            </ul>
          </div>
    </div>
</div>
</div>
<div class="modal fade" id="myModal">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content" id="myModel">
      <div class="modal-body" id="resetbody">
        <div class="container-fluid  no-padding" >
          <div class="col-md-12 col-sm-12 col-xs-12 no-padding ">
              <div class="col-md-12 ">
                  <div class="head">Reset Your Password</div>
                  <button class=" closebtn" data-dismiss="modal">X</button>
                 </div>               
                  <div class="col-md-12 col-sm-12 col-xs-12 ">
                    <div class="notetext"> Must contain at least 8 characters, atleast one uppercase letter, atleast one lowercase letter, atleast one number, atleast one special character.</div>      
                  </div>         
              <form> 
              <div class="col-md-12 no-padding" >

                         <label class="col-md-4 col-sm-12 col-xs-12 labeltext no-padding">Old Password</label>
                         
                              <input type="text"  placeholder="Enter Old Password" class="col-md-12 col-sm-12 col-xs-12 " />
                            
                      </div> 
                      <div class="col-md-12 no-padding" >
                          <label class="col-md-4 col-sm-12 col-xs-12 labeltext no-padding">New Password</label>
                          
                           <input type="password"   placeholder="Enter New Password " class="col-md-12 col-sm-12 col-xs-12  " />
                        
                       </div>
                       <div class="col-md-12 no-padding">
                        <label class="col-md-4 col-sm-12 col-xs-12 labeltext no-padding">Confirm Password</label>
                        
                         <input type="Password"   placeholder="Enter Confirm Password" class="col-md-12 col-sm-12 col-xs-12 " />
                     
                     </div>
              
                 <div class=" float-right"> 
                <button class="btn btn-default btnsave" >SAVE</button>
               </div>
           </form>             
    </div>      
  </div>
</div>
</div>
</div>
</div>