<div class="container-fluid gridBody">

    <h5>System Administration</h5>
  
    <div class="center-block">
      <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
          <!-- <div class="panel panel-default">
  
              <div class="panel-collapse in " role="tabpanel">
                <div class="panel-body">
                 
                  <ul>
                    <li>
                      <a [routerLink]="['/country']"> <img src="assets/images/setup-icon.png" alt="" />Country</a>
                    </li>
                    <li>
                      <a [routerLink]="['/country']"><img src="assets/images/setup-icon.png" alt="" />State</a>
                    </li>
                    <li>
                      <a [routerLink]="['/country']"><img src="assets/images/setup-icon.png" alt="" />City</a>
                    </li>
                    <li>
                      <a [routerLink]="['/country']"><img src="assets/images/setup-icon.png" alt="" />Department</a>
                    </li>
                    <li>
                        <a [routerLink]="['/country']"><img src="assets/images/setup-icon.png" alt="" />Designation</a>
                      </li>
                      <li>
                          <a [routerLink]="['/country']"><img src="assets/images/setup-icon.png" alt="" />Language</a>
                        </li>
                  </ul>
                </div>
              </div>
            </div> -->
        
            <div class="panel panel-default">
        
                <div class="panel-collapse in">
                    <div class="panel-body panel-heading">
                        <h4 class="panel-title" style="display:inline-block">
                          <a role="button" aria-expanded="true">

                              Setup

                          </a>
                        </h4>
                    <ul>
                      <li class="col-md-1">

                        <a [routerLink]="['/country']"> <img src="assets/images/report-icon.png" alt="" />Address</a>
        
                      </li>
                      <li>
        
                          <a href="#"> <img src="assets/images/report-icon.png" alt="" />Organization</a>
                        </li>
                        <li>
        
                            <a href="#"> <img src="assets/images/report-icon.png" alt="" />Payroll</a>
                          </li>
                          <li>
        
                              <a href="#"> <img src="assets/images/report-icon.png" alt="" />Tax</a>
                            </li>
                    </ul>
                  </div>
                </div>
              </div>
        
              <div class="panel panel-default">
        
                  <div class="panel-collapse in">
                      <div class="panel-body panel-heading">
                          <h4 class="panel-title" style="display:inline-block">
                            <a role="button" aria-expanded="true">
                                User Control
                            </a>
                          </h4>
                      <ul>
                        <li class="col-md-1">
          
                          <a href="#"> <img src="assets/images/report-icon.png" alt="" />General</a>
          
                        </li>
                      
                      </ul>
                    </div>
                  </div>
                </div>
      </div>
    </div>
  
  </div>
  
