<div class="container-fluid gridBody">

  <div class="buttonCon pull-right">
    <button type="button" class="btn templateBg"><img src="../assets/images/back-icon.png" alt="home" />Back</button>
    <button type="button" class="btn templateBg"><img src="../assets/images/home-icon.png" alt="home" />Home</button>
  </div>
  <h5>System Administration</h5>

  
  <div class="clearfix"></div>
  <div class="pay-head clearfix mt-3"  id="country2">
  <!-- <div class="col-12 col-md-2 p-0 pull-left" style="box-shadow: 1px 1px 1px #c0c1c1;">
  <div class="payHead">
 
  </div>
  </div> -->
  <div class="col-12 col-md-12 pull-left p-0">
  <div class="tab-content col-md-12 col-12 p-0">
  <div id="country1" class="container tab-pane active">
  
  <div class="col-12 col-md-12 p-0">
  <!-- <div class="col-12 col-md-6 pull-left mt-3 ">
  <label for="Select All" class="col-4 col-md-2 pull-left p-0">Select All:</label>
  <div class="formSelect clearfix col-8 col-md-8 pull-left pr-0">
  <div class="form-check checkCol col-6 col-md-6 pull-left p-0">
  <label class="checkBox">
  <input type="checkbox" name="checkbox" checked>
  <span class="checkmark check1"></span> </label>
  </div>
  
  </div>
  </div> -->
  <!-- <div class="col-12 col-md-6 p-0 pull-left">
  <div class="buttonCon pull-right mt-2 mb-2 mr-1 ">
  <button type="button" class="payHeadBtn" (click)="onAddClick()" [disabled]="ToggleButton"><i class="fa fa-plus-square"
  aria-hidden="true"></i>Add
  New</button>
  <button type="button" class="payHeadBtn" (click)="onDeleteCountry()"><i class="fa fa-trash" aria-hidden="true"></i>Delete</button>
  </div>
  </div> -->
  <div class="clearfix"></div>
  </div>
  <div class="clearfix"></div>
  <div class="formBody clearfix pt-0">
  <ag-grid-angular style="width:100%; height: auto" class="ag-theme-balham" [rowData]="rowData"
  [columnDefs]="columnDefs" [animateRows]="true" [rowSelection]="rowSelection" 
  (selectionChanged)="onSelectionChanged($event)" (gridReady)="onGridReady($event)" (cellKeyDown)="
  onCellKeyDown($event)"></ag-grid-angular>

  <div class="clearfix"></div>
  <div class="pay-head clearfix mt-2" style="border:1px solid #2e6c71" id="country3">
    <div class="col-12 col-md-2 p-0 pull-left" style="box-shadow: 1px 1px 1px #c0c1c1;">
      <div class="payHead">
        <ul class="nav navbar-nav" role="tablist">
          <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#country"><i class="fa fa-globe"
                aria-hidden="true"></i> Country</a> </li>
          <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#state"><i class="fa fa-map pr-1"
                aria-hidden="true"></i> State</a> </li>
          <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#city"><i class="fa fa-map-marker pr-1"
                aria-hidden="true"></i> City</a> </li>
          <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#postal"><i class="fa fa-th-large pr-1"
                aria-hidden="true"></i> Postal Code</a> </li>
        </ul>
      </div>
    </div>
    <div class="col-12 col-md-10 pull-left p-0">
      <div class="tab-content col-md-12 col-12 p-0">
        <div id="country" class="container tab-pane active">

          <div class="col-12 col-md-12 p-0">
            <div class="col-12 col-md-4 pull-left mt-3 ">
              <label for="Select All" class="col-4 col-md-3 pull-left p-0">Select All:</label>
              <div class="formSelect clearfix col-8 col-md-8 pull-left pr-0">
                <div class="form-check checkCol col-6 col-md-6 pull-left p-0">
                  <label class="checkBox">
                    <input type="checkbox" name="checkbox">
                    <span class="checkmark check1"></span> </label>
                </div>

              </div>
            </div>
            <div class="col-12 col-md-8 p-0 pull-left">
              <div class="buttonCon pull-right mt-2 mb-2 mr-1 ">
                <button type="button" class="payHeadBtn" (click)="onAddContry()" [disabled]="countryToggleButton"><i
                    class="fa fa-plus-square" aria-hidden="true"></i>Add
                  New</button>

                <button type="button" class="payHeadBtn" (click)="onSaveCountry()"><i class="fa fa-save"
                    aria-hidden="true"></i>Save
                </button>
                <button type="button" class="payHeadBtn" data-toggle="modal" data-target="#addNew1"><i
                    class="fa fa-trash" aria-hidden="true"></i>Delete</button>
              </div>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="clearfix"></div>
          <div class="formBody clearfix pt-0 pb-2">
            <ag-grid-angular style="width:100%; height: 221px" class="ag-theme-balham" [rowData]="rowData"
              [columnDefs]="columnDefs" [animateRows]="true" [rowSelection]="rowSelection"
              (selectionChanged)="onSelectionChanged($event)" (gridReady)="onGridReady($event)" (cellKeyDown)="
               onCellKeyDown($event)"></ag-grid-angular>

          </div>
          <div class="row mb-1">
            <div class="col-md-12 col-sm-6 col-xs-12 ">
              <div class="form group col-md-2 pull-right p-0">
                <span class="fa fa-angle-double-left  previous round" title="Older" id="nextprev"></span>
                <label class="col-md-6 p-0" style=" text-align: center; font-size:10px; font-weight:bold;">1-50 of
                  100</label>
                <span class="fa fa-angle-double-right  next round" title="Newer" id="nextprev"></span>
              </div>
            </div>
          </div>
        </div>
        <div id="state" class="container tab-pane fade">

          <div class="col-12 col-md-12 p-0">
            <div class="col-12 col-md-4 pull-left mt-3 ">
              <label for="Select All" class="col-4 col-md-3 pull-left p-0">Select All:</label>
              <div class="formSelect clearfix col-8 col-md-8 pull-left pr-0">
                <div class="form-check checkCol col-6 col-md-6 pull-left p-0">
                  <label class="checkBox">
                    <input type="checkbox" name="checkbox">
                    <span class="checkmark check1"></span> </label>
                </div>



              </div>
            </div>
            <div class="col-12 col-md-8 p-0 pull-left">
              <div class="buttonCon pull-right mt-2 mb-2 mr-1 ">
                <button type="button" class="payHeadBtn" (click)="onAddState()" [disabled]="StateToggleButton"><i
                    class="fa fa-plus-square" aria-hidden="true"></i>Add
                  New</button>

                <button type="button" class="payHeadBtn" (click)="onSaveState()"><i class="fa fa-save"
                    aria-hidden="true"></i>Save
                </button>
                <button type="button" class="payHeadBtn" data-toggle="modal" data-target="#addNew2"><i
                    class="fa fa-trash" aria-hidden="true"></i>Delete</button>
              </div>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="clearfix"></div>
          <div class="formBody clearfix pt-0 pb-2">

            <ag-grid-angular style="width:100%; height: 221px" class="ag-theme-balham" [rowData]="rowData1"
              [columnDefs]="columnDefs1" [animateRows]="true" [rowSelection]="rowSelection" [gridOptions]="gridOptions"
              (selectionChanged)="onStateSelectionChanged($event)" [editType]="editType"
              (gridReady)="onStateGridReady($event)" [frameworkComponents]="frameworkComponents" (cellKeyDown)="
              onStateCellKeyDown($event)"></ag-grid-angular>

          </div>
          <div class="row mb-1">
            <div class="col-md-12 col-sm-6 col-xs-12 ">
              <div class="form group col-md-2 pull-right p-0">
                <span class="fa fa-angle-double-left  previous round" title="Older" id="nextprev"></span>
                <label class="col-md-6 p-0" style=" text-align: center; font-size:10px; font-weight:bold;">1-50 of
                  100</label>
                <span class="fa fa-angle-double-right  next round" title="Newer" id="nextprev"></span>
              </div>
            </div>
          </div>
        </div>
        <div id="city" class="container tab-pane fade">

          <div class="col-12 col-md-12 p-0">
            <div class="col-12 col-md-4 pull-left mt-3 ">
              <label for="Select All" class="col-4 col-md-3 pull-left p-0">Select All:</label>
              <div class="formSelect clearfix col-8 col-md-8 pull-left pr-0">
                <div class="form-check checkCol col-6 col-md-6 pull-left p-0">
                  <label class="checkBox">
                    <input type="checkbox" name="checkbox">
                    <span class="checkmark check1"></span> </label>
                </div>

              </div>
            </div>
            <div class="col-12 col-md-8 p-0 pull-left">
              <div class="buttonCon pull-right mt-2 mb-2 mr-1 ">
                <button type="button" class="payHeadBtn" (click)="onAddCity()" [disabled]="cityToggleButton"><i
                    class="fa fa-plus-square" aria-hidden="true"></i>Add
                  New</button>
                <button type="button" class="payHeadBtn" (click)="onSaveCity()"><i class="fa fa-save"
                    aria-hidden="true"></i>Save
                </button>
                <button type="button" class="payHeadBtn" data-toggle="modal" data-target="#addNew3"><i
                    class="fa fa-trash" aria-hidden="true"></i>Delete</button>
              </div>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="clearfix"></div>
          <div class="formBody clearfix pt-0 pb-2">
            <ag-grid-angular style="width:100%; height: 221px" class="ag-theme-balham" [rowData]="rowData2"
              [columnDefs]="columnDefs2" [animateRows]="true" [rowSelection]="rowSelection"
              (gridReady)="onCityGridReady($event)" (cellKeyDown)="
              onCityCellKeyDown($event)"></ag-grid-angular>
          </div>
          <div class="row mb-1">
            <div class="col-md-12 col-sm-4 col-xs-12 ">
              <div class="form group col-md-2 pull-right p-0">
                <span class="fa fa-angle-double-left  previous round" title="Older" id="nextprev"></span>
                <label class="col-md-6 p-0" style=" text-align: center; font-size:10px; font-weight:bold;">1-50 of
                  100</label>
                <span class="fa fa-angle-double-right  next round" title="Newer" id="nextprev"></span>
              </div>
            </div>
          </div>
        </div>
        <div id="postal" class="container tab-pane fade">
          <div class="col-12 col-md-12 p-0">

            <div class="col-12 col-md-4 pull-left mt-3 ">
              <label for="Select All" class="col-4 col-md-3 pull-left p-0">Select All:</label>
              <div class="formSelect clearfix col-8 col-md-8 pull-left pr-0">
                <div class="form-check checkCol col-6 col-md-6 pull-left p-0">
                  <label class="checkBox">
                    <input type="checkbox" name="checkbox">
                    <span class="checkmark check1"></span> </label>
                </div>

              </div>
            </div>

            <div class="col-12 col-md-8 p-0 pull-left">
              <div class="buttonCon pull-right mt-2 mb-2 mr-1 ">
                <button type="button" class="payHeadBtn" (click)="onAddPostal()" [disabled]="postalToggleButton"><i
                    class="fa fa-plus-square" aria-hidden="true"></i>Add
                  New</button>
                <button type="button" class="payHeadBtn" (click)="onSavePostal()"><i class="fa fa-save"
                    aria-hidden="true"></i>Save

                </button>
                <button type="button" class="payHeadBtn" data-toggle="modal" data-target="#addNew4"><i
                    class="fa fa-trash" aria-hidden="true"></i>Delete</button>
              </div>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="clearfix"></div>
          <div class="formBody clearfix pt-0 pb-2">

            <ag-grid-angular style="width:100%; height: 221px" class="ag-theme-balham" [rowData]="rowData3"
              [columnDefs]="columnDefs3" [animateRows]="true" [rowSelection]="rowSelection"
              (gridReady)="onPostalGridReady($event)" (cellKeyDown)="
              onPostalCellKeyDown($event)"></ag-grid-angular>

          </div>
          <div class="row mb-1">
            <div class="col-md-12 col-sm-6 col-xs-12 ">
              <div class="form group col-md-2 pull-right p-0">
                <span class="fa fa-angle-double-left  previous round" title="Older" id="nextprev"></span>
                <label class="col-md-6 p-0" style=" text-align: center; font-size:10px; font-weight:bold;">1-50 of
                  100</label>
                <span class="fa fa-angle-double-right  next round" title="Newer" id="nextprev"></span>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="addNew1">
  <div class="modal-dialog modal-dialog-centered" id="Div3">
    <div class="modal-content">
      <div class="modal-header">
        <h5>Country</h5>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">

      </div>
      <div class="modal-footer">

        <button type="button" id="btnSave" class="btn btn-submit" (click)="onDeleteCountry()" style="padding:4px;"
          data-dismiss="modal">OK</button>
        <button type="button" id="btnSave" class="btn btn-submit" onclick="" style="padding:4px;"
          data-dismiss="modal">CANCEL</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="addNew2">
  <div class="modal-dialog modal-dialog-centered" id="Div3">
    <div class="modal-content">
      <div class="modal-header">
        <h5>State</h5>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">

      </div>
      <div class="modal-footer">

        <button type="button" id="btnSave" class="btn btn-submit" (click)="onDeleteState()" style="padding:4px;"
          data-dismiss="modal">OK</button>
        <button type="button" id="btnSave" class="btn btn-submit" onclick="" style="padding:4px;"
          data-dismiss="modal">CANCEL</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="addNew3">
  <div class="modal-dialog modal-dialog-centered" id="Div3">
    <div class="modal-content">
      <div class="modal-header">
        <h5>City</h5>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">

      </div>
      <div class="modal-footer">

        <button type="button" id="btnSave" class="btn btn-submit" (click)="onDeleteCity()" style="padding:4px;"
          data-dismiss="modal">OK</button>
        <button type="button" id="btnSave" class="btn btn-submit" onclick="" style="padding:4px;"
          data-dismiss="modal">CANCEL</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="addNew4">
  <div class="modal-dialog modal-dialog-centered" id="Div3">
    <div class="modal-content">
      <div class="modal-header">
        <h5>Postal Code</h5>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">

      </div>
      <div class="modal-footer">

        <button type="button" id="btnSave" class="btn btn-submit" (click)="onDeletePostal()" style="padding:4px;"
          data-dismiss="modal">OK</button>
        <button type="button" id="btnSave" class="btn btn-submit" onclick="" style="padding:4px;"
          data-dismiss="modal">CANCEL</button>
      </div>
    </div>
  </div>
</div>