<div class="container-fluid gridBody">

    <div class="buttonCon pull-right">
      <button type="button" class="btn templateBg" ><img src="../assets/images/back-icon.png" alt="home" />Back</button>
      <button type="button" class="btn templateBg"><img src="../assets/images/home-icon.png" alt="home" />Home</button>
    </div>
    <h5>Country</h5>
    <div class="card-body p-0" *ngIf="hide">
      <div class="row mt-3">
        <div class="col-7 col-md-7">
          <div class="buttonCon pull-left">
            <button type="button" class="btn templateBg" (click)="showhide()"><img src="../assets/images/new-icon.png"
                alt="new">{{buttonName}}</button>
          </div>
        </div>
      
      </div>
    
    </div>
    <div class="clearfix"></div>
    <div class="pay-head clearfix mt-3" style="border:1px solid #2e6c71" id="payHead">
      <div class="col-2 col-md-2 p-0 pull-left" style="box-shadow: 1px 1px 1px #c0c1c1;">
        <div class="payHead">
          <ul class="nav navbar-nav" role="tablist">
            <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#country"><i class="fa fa-info-circle pr-1"
                  aria-hidden="true"></i> Country</a> </li>
            <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#state"><i class="fa fa-book pr-1"
                  aria-hidden="true"></i> State</a> </li>
            <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#city"><i class="fa fa-graduation-cap pr-1"
                  aria-hidden="true"></i> City</a> </li>
            <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#department"><i class="fa fa-user-md pr-1"
                  aria-hidden="true"></i> Department</a> </li>
            <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#designation"><i class="fa fa-user pr-1"
                  aria-hidden="true"></i> Designation</a> </li>
            <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#language"><i class="fa fa-language pr-1"
                  aria-hidden="true"></i> Language</a> </li>
           
          </ul>
        </div>
      </div>
      <div class="col-10 col-md-10 pull-left p-0">
        <div class="tab-content col-md-12 col-12 p-0">
          <div id="country" class="container tab-pane active">
           
            <div class="formBody clearfix pt-4">
                <ag-grid-angular style="width:100%; height: auto" class="ag-theme-balham" [rowData]="rowData" [columnDefs]="columnDefs"></ag-grid-angular>
      
            </div>
          </div>
          <div id="state" class="container tab-pane fade">
            <div class="buttonCon pull-left mt-2 mb-2 mr-1">
              <button type="button" class="payHeadBtn"><i class="fa fa-plus-square" aria-hidden="true"></i>Add
                New</button>
              <!-- <button type="button" class="payHeadBtn"><i class="fa fa-floppy-o" aria-hidden="true"></i>Save</button>
            </div> -->
            <div class="clearfix"></div>
            <div class="formBody clearfix pt-0">
  
                <ag-grid-angular style="width:100%; height: auto" class="ag-theme-balham" [rowData]="rowData1" [columnDefs]="columnDefs1"></ag-grid-angular>
  
            </div>
          </div>
          <div id="city" class="container tab-pane fade">
            <div class="buttonCon pull-right mt-2 mb-2 mr-1">
              <button type="button" class="payHeadBtn"><i class="fa fa-plus-square" aria-hidden="true"></i>Add
                New</button>
              <button type="button" class="payHeadBtn"><i class="fa fa-floppy-o" aria-hidden="true"></i>Save</button>
            </div>
            <div class="formBody clearfix">
              <form>
                <div class="clearfix mb-2 employeebkgcolour">
                  <div class="pull-left col-12 col-md-12 pl-0">
                    <div class="form-inline col-12 col-md-12 p-0">
                      <div class="col-12 col-md-12 p-0 form-inline">
                        <label for="Employee Code" class="col-12 col-md-2 pl-0">Choose Qualification:</label>
                        <select class="form-control addrCon formSelect col-12 col-md-9" id="pay" name="pay" style="background:#f5f5f5 !important; border:1px solid #ced4da !important;margin-left: 11px !important;">
                          <option>Select</option>
                          <option>10</option>
                          <option>12</option>
                          <option>Graduation</option>
                          <option>Post Graduation</option>
                          <option>Other</option>
                        </select>
                      </div>
                    </div>
                    <div class="form-inline col-12 col-md-12 p-0">
                      <div class="col-6 col-md-6 p-0">
                        <label for="Employee Code" class="col-5 col-md-5 pl-0">Institute:</label>
                        <input type="text" class="form-control col-12 col-md-6 ptb-4" name="name" placeholder="Institute Name">
                      </div>
                      <div class="col-6 col-md-6 p-0">
                        <label for="pay" class="col-5 col-md-5 pl-0">Qualification:</label>
                        <input type="text" class="form-control col-12 col-md-6 ptb-4" name="name" placeholder="Like:-High School">
                      </div>
                    </div>
                    <div class="form-inline col-12 col-md-12 p-0">
                      <div class="col-6 col-md-6 p-0">
                        <label for="Employee Code" class="col-5 col-md-5 pl-0">Start Date:</label>
                        <input type="date" class="form-control col-12 col-md-6 ptb-4" name="name" placeholder="dd/mm/yyyy">
                      </div>
                      <div class="col-6 col-md-6 p-0">
                        <label for="pay" class="col-5 col-md-5 pl-0">End Date:</label>
                        <input type="date" class="form-control col-12 col-md-6 ptb-4" name="name" placeholder="dd/mm/yyyy">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="scrollbar">
                <div class="clearfix mb-2 employeebkgcolour" style="position:relative">
                  <div style="position: absolute; top:10px; right:10px;"> <i class="fa fa-pencil" aria-hidden="true"
                      style=" background-color: #ffff; padding: 6px;border-radius: 5px;"></i> </div>
                  <div class="pull-left col-12 col-md-12 pl-0">
                    <div class="form-inline col-12 col-md-12 p-0">
                      <div class="col-12 col-md-12 p-0">
                        <h5 class="pl-0">School</h5>
                        <div class="partition pb-2">
                          <p class="instituteName" style="font-weight:bold">Delhi Public School</p>
                          <p class="Qualifications">High School</p>
                          <p class="duration"> 03-03-2007 to 04-05-2009</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="clearfix mb-2 employeebkgcolour" style="position:relative">
                  <div style="position: absolute; top:10px; right:10px;"> <i class="fa fa-pencil" aria-hidden="true"
                      style=" background-color: #ffff; padding: 6px;border-radius: 5px;"></i> </div>
                  <div class="pull-left col-12 col-md-12 pl-0">
                    <div class="form-inline col-12 col-md-12 p-0">
                      <div class="col-12 col-md-12 p-0">
                        <h5 class="pl-0">Graduation</h5>
                        <div class="partition pb-2">
                          <p class="instituteName" style="font-weight:bold">Hi-Tech Institute of technology</p>
                          <p class="Qualifications">B-Tech(CS)</p>
                          <p class="duration"> 03-07-2011 to 04-05-2015</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              </form>
            </div>
          </div>
          <div id="department" class="container tab-pane fade">
            <div class="buttonCon pull-right mt-2 mb-2 mr-1">
              <button type="button" class="payHeadBtn"><i class="fa fa-plus-square" aria-hidden="true"></i>Add
                New</button>
              <button type="button" class="payHeadBtn"><i class="fa fa-floppy-o" aria-hidden="true"></i>Save</button>
            </div>
            <div class="formBody clearfix">
              <form >
                <div class="clearfix mb-2 employeebkgcolour">
                  <div class="pull-left col-12 col-md-12 pl-0">
  
                    <div class="form-inline col-12 col-md-12 p-0">
                      <div class="col-6 col-md-6 p-0">
                        <label for="Employee Code" class="col-5 col-md-5 pl-0">Institute:</label>
                        <input type="text" class="form-control col-12 col-md-6 ptb-4" name="name" placeholder="Institute Name">
                      </div>
                      <div class="col-6 col-md-6 p-0">
                        <label for="pay" class="col-5 col-md-5 pl-0">Course:</label>
                        <input type="text" class="form-control col-12 col-md-6 ptb-4" name="name" placeholder="Dot Net">
                      </div>
                    </div>
                    <div class="form-inline col-12 col-md-12 p-0">
                      <div class="col-6 col-md-6 p-0">
                        <label for="Employee Code" class="col-5 col-md-5 pl-0">Start Date:</label>
                        <input type="date" class="form-control col-12 col-md-6 ptb-4" name="name" placeholder="dd/mm/yyyy">
                      </div>
                      <div class="col-6 col-md-6 p-0">
                        <label for="pay" class="col-5 col-md-5 pl-0">End Date:</label>
                        <input type="date" class="form-control col-12 col-md-6 ptb-4" name="name" placeholder="dd/mm/yyyy">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="scrollbar">
                <div class="clearfix mb-2 employeebkgcolour" style="position:relative">
                  <div style="position: absolute; top:10px; right:10px;"> <i class="fa fa-pencil" aria-hidden="true"
                      style=" background-color: #ffff; padding: 6px;border-radius: 5px;"></i> </div>
                  <div class="pull-left col-12 col-md-12 pl-0">
                    <div class="form-inline col-12 col-md-12 p-0">
                      <div class="col-12 col-md-12 p-0">
                        <h5 class="pl-0">Dot Net</h5>
                        <div class="partition pb-2">
                          <p class="instituteName" style="font-weight:bold">DUCAT Noida</p>
                          <p class="duration"> 03-03-2007 to 04-05-2009</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="clearfix mb-2 employeebkgcolour" style="position:relative">
                  <div style="position: absolute; top:10px; right:10px;"> <i class="fa fa-pencil" aria-hidden="true"
                      style=" background-color: #ffff; padding: 6px;border-radius: 5px;"></i> </div>
                  <div class="pull-left col-12 col-md-12 pl-0">
                    <div class="form-inline col-12 col-md-12 p-0">
                      <div class="col-12 col-md-12 p-0">
                        <h5 class="pl-0">Angular</h5>
                        <div class="partition pb-2">
                          <p class="instituteName" style="font-weight:bold">DUCAT Noida</p>
                          <p class="duration"> 03-07-2011 to 04-05-2015</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              </form>
            </div>
          </div>
          <div id="designation" class="container tab-pane fade">
            <div class="buttonCon pull-right mt-2 mb-2 mr-1">
              <button type="button" class="payHeadBtn"><i class="fa fa-plus-square" aria-hidden="true"></i>Add
                New</button>
              <button type="button" class="payHeadBtn"><i class="fa fa-floppy-o" aria-hidden="true"></i>Save</button>
            </div>
            <div class="formBody clearfix">
              <form>
                <div class="clearfix mb-2 employeebkgcolour">
                  <div class="pull-left col-12 col-md-12 pl-0">
                    <div class="form-inline col-12 col-md-12 p-0">
                      <div class="col-12 col-md-12 p-0">
                        <label for="Employee Code" class="col-12 col-md-2 pl-0">Company Name:</label>
                        <input type="text" class="form-control col-12 col-md-9 ptb-4" style="margin-left: 11px;" name="name"
                          placeholder="Company Name">
                      </div>
                    </div>
                    <div class="form-inline col-12 col-md-12 p-0">
                      <div class="col-6 col-md-6 p-0">
                        <label for="Employee Code" class="col-5 col-md-5 pl-0">Designation:</label>
                        <input type="text" class="form-control col-12 col-md-6 ptb-4" name="name" placeholder="Developer">
                      </div>
                      <div class="col-6 col-md-6 p-0">
                        <label for="pay" class="col-5 col-md-5 pl-0">Department:</label>
                        <input type="text" class="form-control col-12 col-md-6 ptb-4" name="name" placeholder="Information Technology">
                      </div>
                    </div>
                    <div class="form-inline col-12 col-md-12 p-0">
                      <div class="col-6 col-md-6 p-0">
                        <label for="Employee Code" class="col-5 col-md-5 pl-0">Joining Date:</label>
                        <input type="date" class="form-control col-12 col-md-6 ptb-4" name="name" placeholder="dd/mm/yyyy">
                      </div>
                      <div class="col-6 col-md-6 p-0">
                        <label for="pay" class="col-5 col-md-5 pl-0">Exit Date:</label>
                        <input type="date" class="form-control col-12 col-md-6 ptb-4" name="name" placeholder="dd/mm/yyyy">
                      </div>
                    </div>
                    <div class="form-inline col-12 col-md-12 p-0">
                      <div class="col-6 col-md-6 p-0">
                        <label for="Experience" class="col-5 col-md-5 pl-0">Experience:</label>
                        <label for="Experience" class="col-12 col-md-6 ptb-4 p-0">2Years</label>
                      </div>
                      <div class="col-6 col-md-6 p-0">
                        <label for="pay" class="col-5 col-md-5 pl-0">Location:</label>
                        <input type="text" class="form-control col-12 col-md-6 ptb-4" name="name" placeholder="Location">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="scrollbar">
                <div class="clearfix mb-2 employeebkgcolour" style="position:relative">
                  <div style="position: absolute; top:10px; right:10px;"> <i class="fa fa-pencil" aria-hidden="true"
                      style=" background-color: #ffff; padding: 6px;border-radius: 5px;"></i> </div>
                  <div class="pull-left col-12 col-md-12 pl-0">
                    <div class="form-inline col-12 col-md-12 p-0 partition">
                      <div class="col-12 col-md-12 p-0">
                        <h5 class="pl-0">Software Developer <span>(IT Department)</span></h5>
                        <p class="pl-0">YoekiSoft Pvt Ltd</p>
                        <p class="pl-0">Jan 2016 - Present <span>3 yrs 3mos</span></p>
                        <p class="pl-0"> Noida</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              </form>
            </div>
          </div>
          <div id="language" class="container tab-pane fade">
            <div class="buttonCon pull-right mt-2 mb-2 mr-1">
              <button type="button" class="payHeadBtn"><i class="fa fa-plus-square" aria-hidden="true"></i>Add
                New</button>
              <button type="button" class="payHeadBtn"><i class="fa fa-floppy-o" aria-hidden="true"></i>Save</button>
            </div>
            <div class="formBody clearfix">
              <form>
                <div class="clearfix mb-2 employeebkgcolour" style="position:relative">
                  <div class="pull-left col-12 col-md-12 pl-0">
                    <div class="form-inline col-12 col-md-12 p-0">
                      <div class="col-12 col-md-12 p-0">
                        <label for="Skills" class="col-12 col-md-2 pl-0">Skills:</label>
                        <input type="text" class="form-control col-12 col-md-9 ptb-4" name="name" placeholder="Skills">
                      </div>
                    </div>
                    <div class="form-inline col-12 col-md-12 p-0" id="skillsList">
                      <ul class="list-group">
                        <li class="list-item">
                          <div class="skillList"> <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                            <label>C#</label>
                          </div>
                        </li>
                        <li class="list-item">
                          <div class="skillList"> <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                            <label>MVC</label>
                          </div>
                        </li>
                        <li class="list-item">
                          <div class="skillList"> <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                            <label>Java</label>
                          </div>
                        </li>
                        <li class="list-item">
                          <div class="skillList"> <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                            <label>HTML</label>
                          </div>
                        </li>
                        <li class="list-item">
                          <div class="skillList"> <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                            <label>CSS</label>
                          </div>
                        </li>
                        <li class="list-item">
                          <div class="skillList"> <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                            <label>SCSS</label>
                          </div>
                        </li>
                        <li class="list-item">
                          <div class="skillList"> <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                            <label>Angular 4</label>
                          </div>
                        </li>
                        <li class="list-item">
                          <div class="skillList"> <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                            <label>Angular 5</label>
                          </div>
                        </li>
                        <li class="list-item">
                          <div class="skillList"> <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                            <label>Angular 6</label>
                          </div>
                        </li>
                        <li class="list-item">
                          <div class="skillList"> <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                            <label>Angular 7</label>
                          </div>
                        </li>
                        <li class="list-item">
                          <div class="skillList"> <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                            <label>React</label>
                          </div>
                        </li>
                        <li class="list-item">
                          <div class="skillList"> <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                            <label>SQL</label>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
         
  
        </div>
      </div>
    </div>
  </div>
 
  