<div class="container-fluid gridBody">

  <div class="buttonCon pull-right">
    <button type="button" class="btn templateBg" title="Back"><img src="../assets/images/back-icon.png"
        alt="home" />Back</button>
    <button type="button" class="btn templateBg" title="Home"><img src="../assets/images/home-icon.png"
        alt="home" />Home</button>
  </div>
  <h5 title="Organization Setup">Organization Setup</h5>

  <div class="clearfix"></div>
  <div class="pay-head clearfix mt-2" style="border:1px solid #2e6c71" id="country">
    <div class="col-12 col-md-2 p-0 pull-left" style="box-shadow: 1px 1px 1px #c0c1c1;">
      <div class="payHead">
        <ul class="nav navbar-nav" role="tablist">
          <li class="nav-item" title="Location"> <a class="nav-link active" data-toggle="tab" href="#location"><i
                class="fa fa-globe" aria-hidden="true"></i> Location</a> </li>
          <li class="nav-item" title="Departmant"> <a class="nav-link" data-toggle="tab" href="#department"><i
                class="fa fa-map pr-1" aria-hidden="true"></i> Departmant</a> </li>
          <li class="nav-item" title="Designation"> <a class="nav-link" data-toggle="tab" href="#designation"><i
                class="fa fa-map-marker pr-1" aria-hidden="true"></i> Designation</a> </li>

        </ul>
      </div>
    </div>
    <div class="col-12 col-md-10 pull-left p-0">
      <div class="tab-content col-md-12 col-12 p-0">
        <div id="location" class="container tab-pane active">
          <div class="col-12 col-md-12">
            <div id="Payrolloader" style="display:none;left: 380px; position: absolute; z-index: 9999; top: 210px;">
              <img src="{{'assets/images/Spinner.gif'}}">
            </div>
          </div>
          <div class="col-12 col-md-12 p-0">
            <div class="col-12 col-md-7 pull-left mt-2 ">
              <label for="Select All" class="col-4 col-md-2 pull-left p-0 selectextwidth">Select All:</label>
              <div class="formSelect clearfix col-8 col-md-8 pull-left pr-0">
                <div class="form-check checkCol col-6 col-md-6 pull-left p-0">
                  <label class="checkBox">
                    <input type="checkbox" [disabled]="selectAllLocation" name="checkbox"
                      (ngModelChange)="onCheckedBoxLocationChange($event)" [ngModel]="checkedLocationStatus">
                    <span class="checkmark check1" title="Select All"></span> </label>
                </div>

              </div>
            </div>
            <div class="col-12 col-md-5 p-0 pull-left">
              <div class="buttonCon pull-right mt-1 mb-2 mr-2 ">
                <button type="button" class="payHeadBtn" [disabled]="addNewLocationRow" (click)="onAddLocation()"
                  title="Add New"><i class="fa fa-plus-square" aria-hidden="true"></i>Add
                  New</button>
                <button type="button" class="payHeadBtn" [disabled]="editLocation" (click)="onSaveUpdateLocationData()"
                  title="Save"><i class="fa fa-save" aria-hidden="true"></i>Save</button>
                <!-- {{saveUpdateLocation}} -->
                <button type="button" class="payHeadBtn" [disabled]="deleteNewLocation" data-toggle="modal"
                  data-target="#addNew1" title="Delete">
                  <i class="fa fa-trash" aria-hidden="true"></i>Delete</button>
                <button type="button" class="payHeadBtn" title="Import"><i class="fa fa-upload"
                    aria-hidden="true"></i>Import</button>
                <button type="button" class="payHeadBtn" title="Export"><i class="fa fa-download"
                    aria-hidden="true"></i>Export</button>
              </div>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="clearfix"></div>
          <div class="formBody clearfix pt-0 pb-2">

            <ag-grid-angular style="width:100%; height: 395px" class="ag-theme-balham" [rowData]="rowData"
              [columnDefs]="columnDefs" [defaultColDef]="defaultColDef" [rowSelection]="rowSelection"
              [rowClassRules]="rowClassRules" (gridReady)="onGridLocationReady($event)" (selectionChanged)="
              onLocationSelectionChanged($event)" (firstDataRendered)="onFirstDataRendered($event)"></ag-grid-angular>

          </div>
          <div class="row mb-1">
            <div class="col-md-12 col-sm-6 col-xs-12">
              <div class="form group col-md-2 pull-right p-0">
                <span class="fa fa-angle-double-left  previous round" title="Newer" id="nextprev"></span>

                <label class="col-md-6 p-0" style=" text-align: center; font-size:10px; font-weight:bold;">
                  {{ShowLocation}} -
                  {{ShowLimitedLocation}} of
                  {{ToalLocation}}</label>

                <span class="fa fa-angle-double-right  next round" title="Older" id="nextprev"></span>
              </div>
            </div>
          </div>
        </div>
        <div id="department" class="container tab-pane fade">
          <div class="col-12 col-md-12 p-0">
            <div class="col-12 col-md-7 pull-left mt-2 ">
              <label for="Select All" class="col-4 col-md-2 pull-left p-0 selectextwidth">Select All:</label>
              <div class="formSelect clearfix col-8 col-md-8 pull-left pr-0">
                <div class="form-check checkCol col-6 col-md-6 pull-left p-0">
                  <label class="checkBox">
                    <input type="checkbox" name="checkbox" [disabled]="selectAllDepartment"
                      (ngModelChange)="onCheckedBoxChangeDepartment($event)" [ngModel]="departmentfilter">
                    <span class="checkmark check1" title="Select All"></span> </label>
                </div>

              </div>
            </div>
            <div class="col-12 col-md-5 p-0 pull-left">
              <div class="buttonCon pull-right mt-1 mb-2 mr-2 ">
                <button type="button" class="payHeadBtn" [disabled]="addNewDepartmentRow" (click)="onAddDepartment()"
                  title="Add new"><i class="fa fa-plus-square" aria-hidden="true"></i>Add
                  New</button>
                <button type="button" class="payHeadBtn" [disabled]="editDepartment" data-toggle="modal"
                  data-target="#saveDataOrganization"><i class="fa fa-save"
                    aria-hidden="true"></i>{{saveUpdateDepartment}}
                </button>
                <button type="button" class="payHeadBtn" [disabled]="deleteNewDepartment" data-toggle="modal"
                  data-target="#addNew1">
                  <i class="fa fa-trash" aria-hidden="true"></i>Delete</button>
                <button type="button" class="payHeadBtn"><i class="fa fa-upload" aria-hidden="true"></i>Import</button>
                <button type="button" class="payHeadBtn"><i class="fa fa-download"
                    aria-hidden="true"></i>Export</button>

              </div>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="clearfix"></div>
          <div class="formBody clearfix pt-0 pb-2">

            <ag-grid-angular style="width:100%; height: 395px" class="ag-theme-balham" [rowData]="rowData1"
              [gridOptions]="gridOptions" [frameworkComponents]="frameworkComponents" [columnDefs]="columnDefs1"
              (cellValueChanged)="onDepartmentCellValueChanged($event)" (cellDoubleClicked)="rowDeptEditingStarted($event)"
              (firstDataRendered)="onFirstDataRendered($event)" [defaultColDef]="defaultColDef"
              [rowSelection]="rowSelection" (gridReady)="onGridDepartmentReady($event)" (selectionChanged)="
              onDepartmentSelectionChanged($event)"></ag-grid-angular>


          </div>
          <div class="row mb-1">
            <div class="col-md-12 col-sm-6 col-xs-12 ">
              <div class="form group col-md-2 pull-right p-0">
                <span class="fa fa-angle-double-left  previous round" title="Newer" id="nextprev"></span>
                <label class="col-md-6 p-0"
                  style=" text-align: center; font-size:10px; font-weight:bold;">{{ShowDepartment}} -
                  {{ShowLimitedDepartment}} of
                  {{ToalDepartment}}</label>
                <span class="fa fa-angle-double-right  next round" title="Older" id="nextprev"></span>
              </div>
            </div>
          </div>
        </div>
        <div id="designation" class="container tab-pane fade">
          <div class="col-12 col-md-12 p-0">
            <div class="col-12 col-md-7 pull-left mt-2 ">
              <label for="Select All" class="col-4 col-md-2 pull-left p-0 selectextwidth">Select All:</label>
              <div class="formSelect clearfix col-8 col-md-8 pull-left pr-0">
                <div class="form-check checkCol col-6 col-md-6 pull-left p-0">
                  <label class="checkBox">
                    <input type="checkbox" name="checkbox" [ngModel]="checkedStatus"
                      (ngModelChange)="onCheckedBoxChangeDesignation($event)" [disabled]="checkBoxDesignation">
                    <span class="checkmark check1" title="Select All"></span> </label>
                </div>

              </div>
            </div>
            <div class="col-12 col-md-5 p-0 pull-left">
              <div class="buttonCon pull-right mt-1 mb-2 mr-2 ">
                <button type="button" class="payHeadBtn" [disabled]="addNewDesignationRow" (click)="onAddDesignation()"
                  title="Add New"><i class="fa fa-plus-square" aria-hidden="true"></i>Add
                  New</button>
                <button type="button" class="payHeadBtn" [disabled]="editDesignation"
                  (click)="onSaveUpdateDesignationData()" title="Save"><i class="fa fa-save" aria-hidden="true"></i>Save
                </button>
                <button type="button" class="payHeadBtn" [disabled]="deleteNewDesignation" data-toggle="modal"
                  data-target="#addNew1" title="Delete"><i class="fa fa-trash" aria-hidden="true"></i>Delete</button>
                <button type="button" class="payHeadBtn" title="Import"><i class="fa fa-upload"
                    aria-hidden="true"></i>Import</button>
                <button type="button" class="payHeadBtn" title="Export"><i class="fa fa-download"
                    aria-hidden="true"></i>Export</button>
              </div>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="clearfix"></div>
          <div class="formBody clearfix pt-0 pb-2">
            <ag-grid-angular style="width:100%; height: 395px" class="ag-theme-balham" [rowData]="rowData2"
              [frameworkComponents]="frameworkComponents" [singleClickEdit]="true" [columnDefs]="columnDefs2"
              [gridOptions]="gridOptions" [defaultColDef]="defaultColDef"
              (firstDataRendered)="onFirstDataRendered($event)" [rowSelection]="rowSelection"
              (gridReady)="onGridDesignationReady($event)" (selectionChanged)="
              onDesignationSelectionChanged($event)"></ag-grid-angular>
          </div>
          <div class="row mb-1">
            <div class="col-md-12 col-sm-6 col-xs-12">
              <div class="form group col-md-2 pull-right p-0">
                <span class="fa fa-angle-double-left  previous round" title="Newer" id="nextprev"></span>
                <label class="col-md-6 p-0"
                  style=" text-align: center; font-size:10px; font-weight:bold;">{{startPositionDesignation}} -
                  {{endPositionDesignation}} of {{totalData}}</label>
                <span class="fa fa-angle-double-right  next round" title="Older" id="nextprev"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="addNew1">
  <div class="modal-dialog modal-dialog-centered" id="Div3">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"><img src="../assets/images/del-icon.png" alt="Delete" /></h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete this?
      </div>
      <div class="modal-footer">

        <button type="button" id="btnSave" class="btn btn-submit" onclick="" style="padding:4px;"
          data-dismiss="modal">CANCEL</button>

        <button type="button" id="btnSave" class="btn btn-submit" (click)="universalDeleteOrganizaion()"
          style="padding:4px;" data-dismiss="modal">DELETE</button>

      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="saveDataOrganization">
  <div class="modal-dialog modal-dialog-centered" id="Div3">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"><img src="../assets/images/del-icon.png" alt="Delete" /></h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        {{saveUpdateDepartmentPopup}}
      </div>
      <div class="modal-footer">

        <button type="button" id="btnSave" class="btn btn-submit" onclick="" style="padding:4px;"
          data-dismiss="modal">CANCEL</button>

        <button type="button" id="btnSave" class="btn btn-submit" (click)="universalSaveUpdateOrganizaion()"
          style="padding:4px;" data-dismiss="modal">{{btnSaveUpdateDepartmentPopup}}</button>

      </div>
    </div>
  </div>
</div>