<div class="container-fluid gridBody">

  <h5>HR & Payroll</h5>

  <div class="center-block">
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">

            <div class="panel-collapse in " role="tabpanel">
              <div class="panel-body panel-heading">
                <h4 class="panel-title" style="display:inline-block">
                  <a role="button" aria-expanded="true">
                    Setup
                  </a>
                </h4>
                <ul>
                  <li class="col-md-1">
    
                    <a [routerLink]="['/employee']"><i class="fa fa-file-text  logoborder navbarlogosize col-md-12  "></i><span class="col-md-1">Payroll</span></a>
                  </li>
                  <li class="col-md-1">
    
                    <a href="#"><i class="fa fa-building logoborder navbarlogosize"></i>Department</a>
                  </li>
                  <li class="col-md-1">
    
                    <a href="#"><i class=" fa fa-users logoborder navbarlogosize"></i> Designation</a>
                  </li>
                  <li class="col-md-1">
    
                    <a href="#"><i class="fa fa-sitemap logoborder navbarlogosize"></i>Organization Heirarchy</a>
                  </li>
                  
                </ul>
              </div>
            </div>
          </div>
      <div class="panel panel-default">

        <div class="panel-collapse in " role="tabpanel">
          <div class="panel-body panel-heading">
            <h4 class="panel-title" style="display:inline-block">
              <a role="button" aria-expanded="true">
                General
              </a>
            </h4>
            <ul >
              <li class="col-md-1">

                <a [routerLink]="['/employee']"> <i class="fa fa-user logoborder navbarlogosize"></i>Employee</a>
              </li>
              <li  class="col-md-1">

                <a href="#"><i class="fa fa-calendar  logoborder navbarlogosize" ></i>Leave Policy</a>
              </li>
              <li  class="col-md-1">

                <a href="#"><i class="fa fa-code logoborder navbarlogosize"></i>Charges Code</a>
              </li>
              <li class="col-md-1">

                <a href="#"><i class="fa fa-file-text logoborder navbarlogosize" ></i>Terms of Payment</a>
              </li>
              <li class="col-md-1">

                <a href="#"><i class="fa fa-money logoborder navbarlogosize" ></i>Cash Discount</a>
              </li>
              <li class="col-md-1">

                <a href="#"><i class="fa fa-cogs logoborder navbarlogosize"></i>Parameters</a>
              </li>
            </ul>
          </div>

        </div>
      </div>
      <div class="panel active">

        <div class="panel-collapse in show">
          <div class="panel-body panel-heading">
            <h4 class="panel-title" style="display:inline-block">
              <a role="button" aria-expanded="true">
                Recruitment
              </a>
            </h4>
            <ul>
              <li class="col-md-1">

                <a href="#"><i class="fa fa-thumb-tack  logoborder navbarlogosize" ></i>Vendor</a>
              </li>
              <li class="col-md-1">

                <a href="#"> <i class="fa fa-shopping-cart logoborder navbarlogosize"></i>Purchase</a>
              </li>
              <li class="col-md-1">
                <i class="fa fa-cart-plus logoborder navbarlogosize" ></i><a href="#">Order</a>
                
              </li>
              <li class="col-md-1">

                <a href="#"><i class="fa fa-credit-card logoborder navbarlogosize"></i> Payment</a>
              </li>
              <li class="col-md-1">

                <a href="#"><i class="fa fa-file-text logoborder navbarlogosize" ></i>Invoice</a>
              </li>
              <li class="col-md-1">

                <a href="#"> <i class="fa fa-paperclip logoborder navbarlogosize"></i>Agreement</a>
              </li>
              
            </ul>
          </div>
        </div>
      </div>
      <div class="panel panel-default">

        <div class="panel-collapse in">
          <div class="panel-body panel-heading">
            <h4 class="panel-title" style="display:inline-block">
              <a role="button" aria-expanded="true">
                Payroll & Appraisal
              </a>
            </h4>
            <ul>
              <li class="col-md-1">

                <a href="#"><i class="fa fa-history  logoborder navbarlogosize" ></i>Vendor Aging</a>
              </li>
              <li class="col-md-1">

                <a href="#"><i class="fa fa-stack-exchange logoborder navbarlogosize"></i>Account Statement</a>
              </li>
              <li class="col-md-1">

                <a href="#"><i class="fa fa-newspaper-o  logoborder navbarlogosize"></i>Invoice<br />Specification</a>
              </li>
              <li class="col-md-1">

                <a href="#"> <i class="fa fa-flag logoborder navbarlogosize"></i>Vendor Transaction Report</a>
              </li>
              <li class="col-md-1">

                <a href="#"><i class="fa fa-newspaper-o  logoborder navbarlogosize"></i>Invoice Journal</a>
              </li>
              <li class="col-md-1">

                <a href="#"><i class="fa fa-tags logoborder navbarlogosize"></i>Product Receipt</a>
              </li>
              <li class="col-md-1">

                <a href="#"> <i class="fa fa-cart-plus logoborder navbarlogosize" ></i>Order</a>
              </li>
              <li class="col-md-1">

                <a href="#"><i class="fa fa-credit-card logoborder navbarlogosize"></i>Payment</a>
              </li>
              <li class="col-md-1">
                <a href="#"><i class="fa fa-file-text logoborder navbarlogosize" ></i>Invoice</a>
              </li>
              <li class="col-md-1">

                <a href="#"> <i class="fa fa-paperclip logoborder navbarlogosize"></i>Agreement</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
     
      <div class="panel panel-default">
       
        <div class="panel-collapse in">
            <div class="panel-collapse in">
                <div class="panel-body panel-heading">
                    <h4 class="panel-title" style="display:inline-block">
                      <a role="button" aria-expanded="true">
                          Training & Skills Enhancement
                      </a>
                    </h4>
            <ul>
              <li class="col-md-1">

                <a href="#"><i class="fa fa-credit-card logoborder navbarlogosize"></i>Payment Method</a>
              </li>
              <li class="col-md-1">

                <a href="#"><i class="fa fa-ambulance  logoborder navbarlogosize"></i>Delivery Term</a>
              </li>
              <li class="col-md-1">

                <a href="#"><i class="fa fa-code  logoborder navbarlogosize"></i> Charges Code</a>
              </li>
              <li class="col-md-1">

                <a href="#"> <i class="fa fa-file-text logoborder navbarlogosize" ></i>Terms of Payment</a>
              </li>
              <li class="col-md-1">

                <a href="#"> <i class="fa fa-exchange logoborder navbarlogosize" ></i>Cash Discount</a>
              </li>
              <li class="col-md-1">

                <a href="#"> <i class="fa fa-cogs logoborder navbarlogosize"></i>Parameters</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
      <div class="panel panel-default">
        
        <div class="panel-collapse in">
            <div class="panel-body panel-heading">
                <h4 class="panel-title" style="display:inline-block">
                  <a role="button" aria-expanded="true">
                      Exit management
                  </a>
                </h4>
            <ul>
              <li class="col-md-1">

                <a href="#"> <i class="fa fa-credit-card logoborder navbarlogosize"></i>Payment Method</a>
              </li>
              <li class="col-md-1">

                <a href="#"> <i class="fa fa-ambulance  logoborder navbarlogosize"></i>Delivery Term</a>
              </li>
              <li class="col-md-1">

                <a href="#"> <i class="fa fa-code  logoborder navbarlogosize"></i>Charges Code</a>
              </li>
              <li class="col-md-1">

                <a href="#"> <i class="fa fa-file-text logoborder navbarlogosize" ></i>Terms of Payment</a>
              </li>
              <li class="col-md-1">

                <a href="#">  <i class="fa fa-exchange logoborder navbarlogosize" ></i>Cash Discount</a>
              </li>
              <li class="col-md-1">

                <a href="#"><i class="fa fa-cogs logoborder navbarlogosize"></i>Parameters</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        
        <div class="panel-collapse in">
            <div class="panel-body panel-heading">
                <h4 class="panel-title" style="display:inline-block">
                  <a role="button" aria-expanded="true">
                      Report
                  </a>
                </h4>
            <ul>
              <li class="col-md-1">

                <a href="#"> <i class="fa fa-credit-card logoborder navbarlogosize"></i>Payment Method</a>
              </li>
              <li class="col-md-1">

                <a href="#"><i class="fa fa-ambulance  logoborder navbarlogosize"></i>Delivery Term</a>
              </li>
              <li class="col-md-1">

                <a href="#"><i class="fa fa-code  logoborder navbarlogosize"></i>Charges Code</a>
              </li>
              <li class="col-md-1">

                <a href="#"> <i class="fa fa-file-text logoborder navbarlogosize" ></i>Terms of Payment</a>
              </li>
              <li class="col-md-1">

                <a href="#"> <i class="fa fa-exchange logoborder navbarlogosize" ></i>Cash Discount</a>
              </li>
              <li class="col-md-1">

                <a href="#"> <i class="fa fa-cogs logoborder navbarlogosize"></i>Parameters</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>
