<div class="container-fluid gridBody">
        
    <h5>General</h5>
               
      <div class="center-block">
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
<div class="panel active">
<div class="panel-heading active" role="tab" id="headingOne">
<h4 class="panel-title">
  <a role="button"  aria-expanded="true" >
      Recruitment
  </a>
</h4>
</div>
<div id="collapseOne" class="panel-collapse  in  show" role="tabpanel" aria-labelledby="headingOne">
<div class="panel-body">
  <ul>
    <li>
        <img src="assets/images/vendor-icon.png" alt=""/>
        <a href="grid.html">Vendor</a>
      </li>
      <li>
        <img src="assets/images/purchase-icon.png" alt=""/>
        <a href="grid.html">Purchase</a>
      </li>
      <li>
        <img src="assets/images/order-icon.png" alt=""/>
        <a href="grid.html">Order</a>
      </li>
      <li>
        <img src="assets/images/payment-icon.png" alt=""/>
        <a href="grid.html">Payment</a>
      </li>
      <li>
        <img src="assets/images/invoice-icon.png" alt=""/>
        <a href="grid.html">Invoice</a>
      </li>
      <li>
        <img src="assets/images/agreement-icon.png" alt=""/>
        <a href="grid.html">Agreement</a>
      </li>
      <li>
          <img src="assets/images/order-icon.png" alt=""/>
          <a href="grid.html">Order</a>
        </li>
        <li>
          <img src="assets/images/payment-icon.png" alt=""/>
          <a href="grid.html">Payment</a>
        </li>
        <li>
          <img src="assets/images/invoice-icon.png" alt=""/>
          <a href="grid.html">Invoice</a>
        </li>
        <li>
          <img src="assets/images/agreement-icon.png" alt=""/>
          <a href="grid.html">Agreement</a>
        </li>
  </ul>
</div>
</div>
</div>
<div class="panel panel-default">
<div class="panel-heading" role="tab" id="headingTwo">
<h4 class="panel-title">
    <a role="button"  aria-expanded="true" > 
      Payroll
  </a>
</h4>
</div>
<div id="collapseTwo" class="panel-collapse  in " role="tabpanel" aria-labelledby="headingTwo">
<div class="panel-body">
  <ul>
    <li>
        <img src="assets/images/report-icon.png" alt=""/>
        <a href="grid.html">Vendor Aging</a>
      </li>
      <li>
        <img src="assets/images/report-icon.png" alt=""/>
        <a href="grid.html">Account Statement</a>
      </li>
      <li>
        <img src="assets/images/report-icon.png" alt=""/>
        <a href="grid.html">Invoice<br/>Specification</a>
      </li>
      <li>
        <img src="assets/images/report-icon.png" alt=""/>
        <a href="grid.html">Vendor Transaction Report</a>
      </li>
      <li>
        <img src="assets/images/report-icon.png" alt=""/>
        <a href="grid.html">Invoice Journal</a>
      </li>
      <li>
        <img src="assets/images/report-icon.png" alt=""/>
        <a href="grid.html">Product Receipt</a>
      </li>
      <li>
          <img src="assets/images/order-icon.png" alt=""/>
          <a href="grid.html">Order</a>
        </li>
        <li>
          <img src="assets/images/payment-icon.png" alt=""/>
          <a href="grid.html">Payment</a>
        </li>
        <li>
          <img src="assets/images/invoice-icon.png" alt=""/>
          <a href="grid.html">Invoice</a>
        </li>
        <li>
          <img src="assets/images/agreement-icon.png" alt=""/>
          <a href="grid.html">Agreement</a>
        </li>
  </ul>
</div>
</div>
</div>
<div class="panel panel-default">
<div class="panel-heading" role="tab" id="headingThree">
<h4 class="panel-title">
    <a role="button"  aria-expanded="true" > 
       Appraisal
  </a>
</h4>
</div>
<div id="collapseThree" class="panel-collapse  in " role="tabpanel" aria-labelledby="headingThree">
<div class="panel-body">
  <ul>
    <li>
        <img src="assets/images/setup-icon.png" alt="" />
        <a href="grid.html">Payment Method</a>
      </li>
      <li>
        <img src="assets/images/setup-icon.png" alt=""/>
        <a href="grid.html">Delivery Term</a>
      </li>
      <li>
        <img src="assets/images/setup-icon.png" alt=""/>
        <a href="grid.html">Charges Code</a>
      </li>
      <li>
        <img src="assets/images/setup-icon.png" alt=""/>
        <a href="grid.html">Terms of Payment</a>
      </li>
      <li>
        <img src="assets/images/setup-icon.png" alt=""/>
        <a href="grid.html">Cash Discount</a>
      </li>
      <li>
        <img src="assets/images/setup-icon.png" alt=""/>
        <a href="grid.html">Parameters</a>
      </li>
  </ul>
</div>
</div>
</div>
<div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingFour">
      <h4 class="panel-title">
          <a role="button"  aria-expanded="true" >
             Training & Skills Enhancement
        </a>
      </h4>
    </div>
     <div id="collapseFour" class="panel-collapse  in " role="tabpanel" aria-labelledby="headingFour">
      <div class="panel-body">
          <ul>
              <li>
                  <img src="assets/images/setup-icon.png" alt="" />
                  <a href="grid.html">Payment Method</a>
                </li>
                <li>
                  <img src="assets/images/setup-icon.png" alt=""/>
                  <a href="grid.html">Delivery Term</a>
                </li>
                <li>
                  <img src="assets/images/setup-icon.png" alt=""/>
                  <a href="grid.html">Charges Code</a>
                </li>
                <li>
                  <img src="assets/images/setup-icon.png" alt=""/>
                  <a href="grid.html">Terms of Payment</a>
                </li>
                <li>
                  <img src="assets/images/setup-icon.png" alt=""/>
                  <a href="grid.html">Cash Discount</a>
                </li>
                <li>
                  <img src="assets/images/setup-icon.png" alt=""/>
                  <a href="grid.html">Parameters</a>
                </li>
            </ul>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingFive">
        <h4 class="panel-title">
            <a role="button"  aria-expanded="true" >
               Exit management
          </a>
        </h4>
      </div>
       <div id="collapseFive" class="panel-collapse  in " role="tabpanel" aria-labelledby="headingFive">
        <div class="panel-body">
            <ul>
                <li>
                    <img src="assets/images/setup-icon.png" alt="" />
                    <a href="grid.html">Payment Method</a>
                  </li>
                  <li>
                    <img src="assets/images/setup-icon.png" alt=""/>
                    <a href="grid.html">Delivery Term</a>
                  </li>
                  <li>
                    <img src="assets/images/setup-icon.png" alt=""/>
                    <a href="grid.html">Charges Code</a>
                  </li>
                  <li>
                    <img src="assets/images/setup-icon.png" alt=""/>
                    <a href="grid.html">Terms of Payment</a>
                  </li>
                  <li>
                    <img src="assets/images/setup-icon.png" alt=""/>
                    <a href="grid.html">Cash Discount</a>
                  </li>
                  <li>
                    <img src="assets/images/setup-icon.png" alt=""/>
                    <a href="grid.html">Parameters</a>
                  </li>
              </ul>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingSix">
          <h4 class="panel-title">
              <a role="button"  aria-expanded="true" >
                 Report
            </a>
          </h4>
        </div>
         <div id="collapseSix" class="panel-collapse  in " role="tabpanel" aria-labelledby="headingSix">
          <div class="panel-body">
              <ul>
                  <li>
                      <img src="assets/images/setup-icon.png" alt="" />
                      <a href="grid.html">Payment Method</a>
                    </li>
                    <li>
                      <img src="assets/images/setup-icon.png" alt=""/>
                      <a href="grid.html">Delivery Term</a>
                    </li>
                    <li>
                      <img src="assets/images/setup-icon.png" alt=""/>
                      <a href="grid.html">Charges Code</a>
                    </li>
                    <li>
                      <img src="assets/images/setup-icon.png" alt=""/>
                      <a href="grid.html">Terms of Payment</a>
                    </li>
                    <li>
                      <img src="assets/images/setup-icon.png" alt=""/>
                      <a href="grid.html">Cash Discount</a>
                    </li>
                    <li>
                      <img src="assets/images/setup-icon.png" alt=""/>
                      <a href="grid.html">Parameters</a>
                    </li>
                </ul>
          </div>
        </div>
      </div>
</div>
</div>

  </div>