.navbarlogosize
{
    font-size: 15px;
    color:white;
    padding:9px;
}
.logoborder
{
    border: 1px solid #2e6d72;
    width:34px;
    height:33px;
    background-color:#2e6d72;;
    border-radius:50%;
}