<div class="wrapper">
  <div class="container">
      <div class="row align-items-center">
        <div class="col-8 mx-auto col-md-5 logBox">
          <!--<img class="img-fluid" src="images/signin.jpg" alt="">-->
          <div class="logo"><img class="img-fluid" src="images/logo.png" alt=""/></div>
          <div class="mainCon">
                 
              <div class="resetCon col-12 col-md-12">
              <h6>Reset Password</h6>
              <div class="loginBody">
                  <form [formGroup]="forgetpassword">
                      <div class="form-group">
                        <label for="usr">Enter your Email or User ID</label>
                        <input type="text" class="form-control" id="usr" formControlName="username" placeholder="Enter email or user ID" >
                      </div>
                     
                      <button type="submit" (click)="forget()" class="btn templateBg">SUBMIT</button>
                </form>
                  </div>
                  <div class="resetfooter">
                      <p>Back to <a class="createAcc" routerLink="/login">Sign In</a></p>
                  </div>
              </div>
              <div class="clearfix"></div>
              
          </div>
        </div>
        
      </div>
     </div>
     </div>