.headCon{ overflow: hidden;
    background: #d9e3e4;
    padding: 15px 0px 0px;
    margin-bottom: 20px;}
.empPhoto{ background: #398d94;
        border-radius: 4px;
        padding: 10px !important;}
.empPhoto img{width:100%}
#basic .formBody .form-inline label{ width:100% !important;  padding-top: 5px; }

#payHead label{font-weight:bold}
#payHead .scrollbar {
    max-height: 348px;

    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-bottom: 0;

    z-index: 100;
}
.formBody .form-inline {
    margin-bottom: 3px;
 
}
#payHead h5 {
    font-size: 16px;
}
#payHead h6{font-size:12px}
#payHead p{font-size:12px !important; display: block !important; margin-bottom: 10px !important}
#skillsList ul.list-group{display:inline-block !important; width: 100%;  padding-top: 25px; }
#skillsList ul li{display:inline-block !important;}
#skillsList ul li.list-item{color: #3e3e3e;
    font-size: 11px;
    font-weight: bold;
    padding: 10px 10px;
width:20%; }
#skillsList ul li.list-item .skillList{border-bottom: 1px solid #AAC7D0 !important; padding-bottom: 8px; padding-left: 12px;}
#skillsList ul li.list-item i{font-weight: bold; padding-right: 6px;}

#achievements .scrollbar{max-height:260px}
#bankDetails .scrollbar{ max-height:280px}
.educationTitle{
    margin-bottom: 5px;}
    .educationTitle span{    font-size: 11px;
        font-weight: 500;}
        .mainTitle{      font-size: 14px !important;
            font-weight: 500 !important;border-bottom: 1px solid #d4d2d2;}

.emergency{
            top: -4px;
        left: -2px;       
}


.phoneeditpart{
    background-color: #ffffff;
    padding: 8px 5px 8px 10px;
    width: 12%;
    border-radius: 10px;
}
.table td, .table th {
    padding: 8px 0px 0px 9px!important;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}


