<div class="container-fluid gridBody">
    <div class="buttonCon pull-right">
        <button type="button" class="btn templateBg"><img src="../assets/images/home-icon.png" alt="home" />Home</button>
    </div>
    <h5>EMPLOYEES</h5>
    
    <div class="row">
        <div class="col-7 col-md-7">
            <div class="buttonCon pull-left">
                <button type="button" class="btn templateBg" (click)="showhide()"><img src="../assets/images/new-icon.png" alt="new">{{buttonName}}</button>
        
        
       
        
            </div>
        </div>
        <div class="col-12 col-md-8 col-sm-9 pull-right col-lg-5 top-space">
            <div class="show pull-left col-6 col-md-6 no-space p-0">
                <form class="col-12 col-md-12 col-sm-12">
                        <div class="form-group">
                                <div class="styled-select slate">
                                    <select class="form-control" id="country" name="country" placeholder="Select">
                                        <option>Select</option>
                                        <option>Name</option>
                                        <option>Designation</option>
                                        <option>Department</option>
                                        
                                    </select>
                                </div>
                            </div>
                </form>
                
            </div>
            <div class="input-group mb-2 col-6 col-md-6 pull-right p-0">
                <input class="form-control border-secondary" type="search" placeholder="search " style="height:28px">
                <div class="input-group-append" style="height:28px">
                        <button class="btn btn-outline-secondary" type="button">
                            <img src="../assets/images/search-icon.png" alt="search" />
                        </button>
                    </div>
            </div>
        </div>
    </div>
    
            <div class="card-body p-0">
                    <ag-grid-angular style="width:100%; height: auto"
                                     class="ag-theme-balham"
                                     [rowData]="rowData"
                                     [columnDefs]="columnDefs"></ag-grid-angular>
    
    
    </div>
    <div class="buttonCon pull-left mt-3">
        <button type="button" class="btn templateBg" value="Add New"><img src="../assets/images/edit-icon.png" alt="edit" />Edit</button>

        <button type="button" class="btn templateBg"><img src="../assets/images/delete-icon.png" alt="delete" />Delete</button>
    </div>
<div class="clearfix"></div>
    <div class="pay-head clearfix mt-4" style="border:1px solid #2e6c71" *ngIf="show" id="payHead">
            <div class="col-2 col-md-2 p-0 pull-left" style="box-shadow: 1px 1px 1px #c0c1c1;">

                    <div class="payHead">
      <ul class="nav navbar-nav" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="#basic">
          Basic Details</a>					 				  
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#hra">
          Address Book</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#conveyance">
          Educational Qualifications</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#mobile">
          Professional Qualifications</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#experience">
          Employment Experience</a>					 				  
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#bonus">
          Skills</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#allowance">
          Achievements/Certificates</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#mobile">
          Bank Details</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#variables">
          Documents</a>					 				  
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#bonus">
             Notes</a>
        </li>
        
        
      </ul>
    </div>
            </div>
            <div class="col-10 col-md-10 pull-left p-0">
            <div class="tab-content col-md-12 col-12 p-0">
        <div id="basic" class="container tab-pane active">
          <div class="formBody clearfix">
          <form>
        <div class="pull-left col-11 col-md-11 pl-0">                    
        <div class="form-inline col-12 col-md-12 p-0">
                <div class="col-4 col-md-4 p-0">
                        <label for="Employee Code" class="col-5 col-md-5 pl-0">Employee Code:</label>
                        <input type="text" class="form-control col-12 col-md-6 ptb-4" id="name" name="name" placeholder="Employee Code">
        
                </div>
                <div class="col-4 col-md-4 p-0">
                        <label for="pay" class="col-5 col-md-5 pull-left">Title:</label>
                        <select class="form-control addrCon formSelect col-7 col-md-7" id="type" name="type" style="background:#f5f5f5 !important; border:1px solid #ced4da !important">
                                <option>Select</option>
                                <option>Mr</option>
                                <option>Mrs</option>
                                <option>Ms</option>
                              </select>
                       
                </div>
                <div class="col-4 col-md-4 p-0">
                       
                </div>
          </div>
        <div class="form-inline col-12 col-md-12 p-0 mt-1">
            <div class="col-4 col-md-4 p-0">
                    <label for="pay" class="col-5 col-md-5 pl-0 pull-left">First Name:</label>
                    <input type="text" class="form-control addrCon formSelect col-7 col-md-7" id="name" name="name" placeholder="First Name">
                   
            </div>
            <div class="col-4 col-md-4 p-0">
                    <label for="pay" class="col-lg-5 col-md-5 pull-left">Middle Name:</label>
                    <input type="text" class="form-control addrCon formSelect col-7 col-md-7" id="name" name="name" placeholder="Middle Name">
                   
            </div>
            <div class="col-4 col-md-4 p-0">
                    <label for="pay" class="col-5 col-md-5 pull-left">Last Name:</label>
                    <input type="text" class="form-control addrCon formSelect col-7 col-md-7" id="name" name="name" placeholder="Last Name">
                   
            </div>
          
        </div>
        <div class="form-inline col-12 col-md-12 p-0 mt-1">
                <div class="col-4 col-md-4 p-0">
                        <label for="pay" class="col-5 col-md-5 pl-0 pull-left">Date of Birth:</label>
                        <input type="text" class="form-control addrCon formSelect col-7 col-md-7" name="name" placeholder="dd/mm/yyyy">
                       
                </div>
                <div class="col-4 col-md-4 p-0">
                        <label for="pay" class="col-lg-5 col-md-5 pull-left">Age:</label>
                        <label for="pay" class="addrCon formSelect col-7 col-md-7">22Years</label>
                        
                </div>
                <div class="col-4 col-md-4 p-0">
                        <label for="pay" class="col-5 col-md-5 pull-left">Department:</label>
                        <select class="form-control addrCon formSelect col-7 col-md-7" id="type" name="type" style="background:#f5f5f5 !important; border:1px solid #ced4da !important">
                                <option>Select</option>
                                <option>Sales</option>
                                <option>IT</option>
                                <option>Finance</option>
                              </select>
                       
                </div>
              
            </div>

            <div class="form-inline col-12 col-md-12 p-0 mt-1">
                    <div class="col-4 col-md-4 p-0">
                            <label for="pay" class="col-5 col-md-5 pl-0 pull-left">Designation:</label>
                            <select class="form-control addrCon formSelect col-7 col-md-7" id="type" name="type" style="background:#f5f5f5 !important; border:1px solid #ced4da !important">
                                    <option>Select</option>
                                    <option>Manager</option>
                                    <option>Developer</option>
                                    <option>UI Developer</option>
                                  </select>
                    </div>
                    <div class="col-4 col-md-4 p-0">
                            <label for="pay" class="col-lg-5 col-md-5 pull-left">Contact No.:</label>
                            <label for="pay" class="addrCon formSelect col-7 col-md-7">9876543210</label>
                            
                    </div>
                    <div class="col-4 col-md-4 p-0">
                            <label for="pay" class="col-lg-5 col-md-5 pull-left">Email ID:</label>
                            <label for="pay" class="addrCon formSelect col-7 col-md-7">abcd@gmail.com</label>
                            
                    </div>
                  
                </div>

                <div class="form-inline col-12 col-md-12 p-0 mt-1">
                        <div class="col-8 col-md-8 p-0">
                                <label for="pay" class="col-2 col-md-2 pull-left p-0">Gender:</label>
                                <div class="formSelect clearfix col-10 col-md-10 pull-left ">
                                        <div class="form-check checkCol col-4 col-md-4 pull-left">
                                                <label class="checkBox">Male
                                              <input type="radio" name="radio" checked="">
                                              <span class="checkmark check mt-1"></span> </label>
                                              </div>
                                          <div class="form-check checkCol col-4 col-md-4 pull-left">
                                                <label class="checkBox">Female
                                              <input type="radio" name="radio">
                                              <span class="checkmark check mt-1"></span> </label>
                                              </div>
                                           <div class="form-check checkCol col-4 col-md-4 pull-left">
                                                    <label class="checkBox">Other
                                                  <input type="radio" name="radio">
                                                  <span class="checkmark check mt-1"></span> </label>
                                                </div>
        
                                </div>
                               
                        </div>                     
                        <div class="col-4 col-md-4 pr-0">
                                <label for="pay" class="col-4 col-md-4 pull-left p-0">Marital Status:</label>
                                <div class="formSelect clearfix col-8 col-md-8 pull-left pr-0">
                                        <div class="form-check checkCol col-6 col-md-6 pull-left">
                                                <label class="checkBox">Married
                                              <input type="radio" name="radio" checked="">
                                              <span class="checkmark check mt-1"></span> </label>
                                              </div>
                                          <div class="form-check checkCol col-6 col-md-6 pull-left">
                                                <label class="checkBox">Unmarried
                                              <input type="radio" name="radio">
                                              <span class="checkmark check mt-1"></span> </label>
                                              </div>
                                          
        
                                </div>
                        </div>
                        
                  
                      
                    </div>
                    
                    <div class="form-inline col-12 col-md-12 p-0 mt-1">
                      <div class="col-8 col-md-8 p-0">
                             
                      </div>                     
                      <div class="col-4 col-md-4 pr-0">
                              <label for="pay" class="col-4 col-md-4 pull-left p-0">Anniversary</label>
                              <input type="text" class="form-control addrCon formSelect ml-3 col-7 col-md-7" name="name" placeholder="dd/mm/yyyy">
                       
                      </div>
                      
                
                    
                  </div>

                  <div class="form-inline col-12 col-md-12 p-0 mt-1">
                    <div class="col-4 col-md-4 p-0">
                            <label for="pay" class="col-5 col-md-5 pl-0 pull-left">Reporting Heirarchy:</label>
                            <label for="pay" class="addrCon formSelect col-7 col-md-7">Heirarchy</label>
                            
                    </div>
                    <div class="col-4 col-md-4 p-0">
                            <label for="pay" class="col-lg-5 col-md-5 pull-left">Employment Date:</label>
                            <label for="pay" class="addrCon formSelect col-7 col-md-7">dd/mm/yyyy</label>
                            
                    </div>
                    <div class="col-4 col-md-4 p-0">
                           
                    </div>
                  
                </div>
           
        </div>
        <div class="col-1 col-md-1 pull-left p-0 empPhoto"><img src="../assets/images/profile-image.png" alt="profile Image" /></div>
        <div class="clearfix"></div>
        
          </form>
          <div class="buttonCon pull-left mt-2">
                <button type="submit" class="btn templateBg" data-toggle="modal" onclick="javascript: document.location.href='#'">Save</button>
               </div>
         </div> 
         
        </div>
        <div id="hra" class="container tab-pane fade">
          <div class="formBody clearfix">
          <form>
        <div class="pull-left col-12 col-md-12 pl-0">                    
        <div class="form-inline">
          <label for="Employee Name" class="col-3 col-md-3 pl-0">Name:</label>
         <input type="text" class="form-control col-6 col-md-6 ptb-4" id="name" name="name" placeholder=" Name">
        </div>
        <div class="form-inline">
          <label for="pay" class="col-3 col-md-3 pl-0">Pay Cycle:</label>
          <select class="form-control addrCon formSelect col-6 col-md-6" id="pay" name="pay" style="background:#f5f5f5 !important; border:1px solid #ced4da !important">
                <option>Select</option>
                <option>Pay Cycle 1</option>
                <option>Pay Cycle 2</option>
              </select>
        </div>
        <div class="form-inline">
          <label for="Flat Rate" class="col-3 col-md-3 pl-0">Flat Rate:</label>
         <input type="text" class="form-control col-6 col-md-6 ptb-4" id="flat" name="Flat Rate" placeholder="Rs.XXXX">
        </div>
        <div class="form-inline">
        <label for="Flat Rate" class="col-3 col-md-3 pl-0">Formula:</label>
        <div class="form-check checkCol pull-left" style="margin-bottom: 14px;">
                                <label class="checkBox smallFont mb-0"> 
                                  <input type="checkbox" name="option1" checked="">
                                  <span class="checkmark check1 mt-1"></span> </label>
                              </div>
        </div>
        <div class="form-inline">
          <label for="Flat Rate" class="col-3 col-md-3 pl-0"></label>
         <input type="text" class="form-control col-6 col-md-6 ptb-4" id="formula" name="Formula" placeholder="Formula">
        </div>
      
        <div class="form-inline">
        <label for="Benefits" class="col-3 col-md-3 pl-0">Benefits:</label>
        <div class="form-check checkCol pull-left" style="margin-bottom: 14px;">
                                <label class="checkBox smallFont mb-0"> 
                                  <input type="checkbox" name="option1" checked="">
                                  <span class="checkmark check1 mt-1"></span> </label>
                              </div>
        </div>
      <div class="form-inline">
          <label for="Benefit Type" class="col-3 col-md-3 pl-0">Benefit Type:</label>
          <select class="form-control addrCon formSelect col-6 col-md-6" id="type" name="type" style="background:#f5f5f5 !important; border:1px solid #ced4da !important">
                <option>Select</option>
                <option>Benefit 1</option>
                <option>Benefit 2</option>
                <option>Benefit 3</option>
              </select>
        </div>
        <div class="form-inline">
          <label for="Flat Rate" class="col-3 col-md-3 pl-0">Description</label>
         <textarea type="text" class="form-control col-6 col-md-6 ptb-4" name="Formula" placeholder="Description" style="min-height:25px"></textarea>
        </div>
           
        </div>
         <div class="buttonCon pull-left">
          <button type="submit" class="btn templateBg" data-toggle="modal" onclick="javascript: document.location.href='#'">Save</button>
         </div>
          </form>
         </div> 
         
        </div>
        <div id="conveyance" class="container tab-pane fade">
          <div class="formBody clearfix">
          <form>
        <div class="pull-left col-12 col-md-12 pl-0">                    
        <div class="form-inline">
          <label for="Employee Name" class="col-3 col-md-3 pl-0">Name:</label>
         <input type="text" class="form-control col-6 col-md-6 ptb-4" id="name" name="name" placeholder=" Name">
        </div>
        <div class="form-inline">
          <label for="pay" class="col-3 col-md-3 pl-0">Pay Cycle:</label>
          <select class="form-control addrCon formSelect col-6 col-md-6" id="pay" name="pay" style="background:#f5f5f5 !important; border:1px solid #ced4da !important">
                <option>Select</option>
                <option>Pay Cycle 1</option>
                <option>Pay Cycle 2</option>
              </select>
        </div>
        <div class="form-inline">
          <label for="Flat Rate" class="col-3 col-md-3 pl-0">Flat Rate:</label>
         <input type="text" class="form-control col-6 col-md-6 ptb-4" id="flat" name="Flat Rate" placeholder="Rs.XXXX">
        </div>
        <div class="form-inline">
        <label for="Flat Rate" class="col-3 col-md-3 pl-0">Formula:</label>
        <div class="form-check checkCol pull-left" style="margin-bottom: 14px;">
                                <label class="checkBox smallFont mb-0"> 
                                  <input type="checkbox" name="option1" checked="">
                                  <span class="checkmark check1 mt-1"></span> </label>
                              </div>
        </div>
        <div class="form-inline">
          <label for="Flat Rate" class="col-3 col-md-3 pl-0"></label>
         <input type="text" class="form-control col-6 col-md-6 ptb-4" id="formula" name="Formula" placeholder="Formula">
        </div>
      
        <div class="form-inline">
        <label for="Benefits" class="col-3 col-md-3 pl-0">Benefits:</label>
        <div class="form-check checkCol pull-left" style="margin-bottom: 14px;">
                                <label class="checkBox smallFont mb-0"> 
                                  <input type="checkbox" name="option1" checked="">
                                  <span class="checkmark check1 mt-1"></span> </label>
                              </div>
        </div>
      <div class="form-inline">
          <label for="Benefit Type" class="col-3 col-md-3 pl-0">Benefit Type:</label>
          <select class="form-control addrCon formSelect col-6 col-md-6" id="type" name="type" style="background:#f5f5f5 !important; border:1px solid #ced4da !important">
                <option>Select</option>
                <option>Benefit 1</option>
                <option>Benefit 2</option>
                <option>Benefit 3</option>
              </select>
        </div>
        <div class="form-inline">
          <label for="Flat Rate" class="col-3 col-md-3 pl-0">Description</label>
         <textarea type="text" class="form-control col-6 col-md-6 ptb-4" name="Formula" placeholder="Description" style="min-height:25px"></textarea>
        </div>
           
        </div>
         <div class="buttonCon pull-left">
          <button type="submit" class="btn templateBg" data-toggle="modal" onclick="javascript: document.location.href='#'">Save</button>
         </div>
          </form>
         </div> 
         
        </div>
        <div id="mobile" class="container tab-pane fade">
          <div class="formBody clearfix">
          <form>
        <div class="pull-left col-12 col-md-12 pl-0">                    
        <div class="form-inline">
          <label for="Employee Name" class="col-3 col-md-3 pl-0">Name:</label>
         <input type="text" class="form-control col-6 col-md-6 ptb-4" id="name" name="name" placeholder=" Name">
        </div>
        <div class="form-inline">
          <label for="pay" class="col-3 col-md-3 pl-0">Pay Cycle:</label>
          <select class="form-control addrCon formSelect col-6 col-md-6" id="pay" name="pay" style="background:#f5f5f5 !important; border:1px solid #ced4da !important">
                <option>Select</option>
                <option>Pay Cycle 1</option>
                <option>Pay Cycle 2</option>
              </select>
        </div>
        <div class="form-inline">
          <label for="Flat Rate" class="col-3 col-md-3 pl-0">Flat Rate:</label>
         <input type="text" class="form-control col-6 col-md-6 ptb-4" id="flat" name="Flat Rate" placeholder="Rs.XXXX">
        </div>
        <div class="form-inline">
        <label for="Flat Rate" class="col-3 col-md-3 pl-0">Formula:</label>
        <div class="form-check checkCol pull-left" style="margin-bottom: 14px;">
                                <label class="checkBox smallFont mb-0"> 
                                  <input type="checkbox" name="option1" checked="">
                                  <span class="checkmark check1 mt-1"></span> </label>
                              </div>
        </div>
        <div class="form-inline">
          <label for="Flat Rate" class="col-3 col-md-3 pl-0"></label>
         <input type="text" class="form-control col-6 col-md-6 ptb-4" id="formula" name="Formula" placeholder="Formula">
        </div>
      
        <div class="form-inline">
        <label for="Benefits" class="col-3 col-md-3 pl-0">Benefits:</label>
        <div class="form-check checkCol pull-left" style="margin-bottom: 14px;">
                                <label class="checkBox smallFont mb-0"> 
                                  <input type="checkbox" name="option1" checked="">
                                  <span class="checkmark check1 mt-1"></span> </label>
                              </div>
        </div>
      <div class="form-inline">
          <label for="Benefit Type" class="col-3 col-md-3 pl-0">Benefit Type:</label>
          <select class="form-control addrCon formSelect col-6 col-md-6" id="type" name="type" style="background:#f5f5f5 !important; border:1px solid #ced4da !important">
                <option>Select</option>
                <option>Benefit 1</option>
                <option>Benefit 2</option>
                <option>Benefit 3</option>
              </select>
        </div>
        <div class="form-inline">
          <label for="Flat Rate" class="col-3 col-md-3 pl-0">Description</label>
         <textarea type="text" class="form-control col-6 col-md-6 ptb-4" name="Formula" placeholder="Description" style="min-height:25px"></textarea>
        </div>
           
        </div>
         <div class="buttonCon pull-left">
          <button type="submit" class="btn templateBg" data-toggle="modal" onclick="javascript: document.location.href='#'">Save</button>
         </div>
          </form>
         </div> 
         
        </div>
        <div id="experience" class="container tab-pane fade">
          <div class="formBody clearfix">
          <form>
        <div class="pull-left col-12 col-md-12 pl-0">                    
          <div class="form-inline col-12 col-md-12 p-0">
            <div class="col-6 col-md-6 p-0">
                    <label for="Employee Code" class="col-5 col-md-5 pl-0">Company Name:</label>
                    <input type="text" class="form-control col-12 col-md-6 ptb-4" name="name" placeholder="Company Name">
    
            </div>
            <div class="col-6 col-md-6 p-0">
                    <label for="pay" class="col-5 col-md-5 pull-left pl-0">From Date:</label>
                    <input type="text" class="form-control col-12 col-md-6 ptb-4" name="name" placeholder="dd/mm/yyyy">
    
                   
            </div>
           
      </div>
      <div class="form-inline col-12 col-md-12 p-0">
          <div class="col-6 col-md-6 p-0">
              <label for="pay" class="col-5 col-md-5 pull-left pl-0">To Date:</label>
              <input type="text" class="form-control col-12 col-md-6 ptb-4" name="name" placeholder="dd/mm/yyyy">

             
      </div>
        <div class="col-6 col-md-6 p-0">
                <label for="Employee Code" class="col-5 col-md-5 pl-0">Designation:</label>
                <input type="text" class="form-control col-12 col-md-6 ptb-4" name="name" placeholder="Developer">

        </div>
  </div>
  <div class="form-inline col-12 col-md-12 p-0">
      <div class="col-6 col-md-6 p-0">
          <label for="pay" class="col-5 col-md-5 pull-left pl-0">Department:</label>
          <input type="text" class="form-control col-12 col-md-6 ptb-4" name="name" placeholder="Information Technology">

         
  </div>
    <div class="col-6 col-md-6 p-0">
            <label for="Employee Code" class="col-5 col-md-5 pl-0">Joining Date:</label>
            <input type="text" class="form-control col-12 col-md-6 ptb-4" name="name" placeholder="dd/mm/yyyy">

    </div>
</div>
<div class="form-inline col-12 col-md-12 p-0">
    <div class="col-6 col-md-6 p-0">
        <label for="pay" class="col-5 col-md-5 pull-left pl-0">Exit Date:</label>
        <input type="text" class="form-control col-12 col-md-6 ptb-4" name="name" placeholder="dd/mm/yyyy">

       
</div>
  <div class="col-6 col-md-6 p-0">
          <label for="Employee Code" class="col-5 col-md-5 pl-0">Experience:</label>
          <input type="text" class="form-control col-12 col-md-6 ptb-4" name="name" placeholder="2 Years">

  </div>
</div>
           
        </div>
         <div class="buttonCon pull-left col-5 col-md-5 p-0">

            <button type="button" class="btn templateBg pull-left col-3 col-md-3" value="Add New"><img src="../assets/images/new-icon.png" alt="edit" />Add</button>

            <button type="button" class="btn templateBg pull-left col-3 col-md-3"><img src="../assets/images/save-icon.png" alt="delete" />Save</button>
       
         </div>
          </form>
         </div> 
         
        </div>
        <div id="bonus" class="container tab-pane fade">
          <div class="formBody clearfix">
          <form>
        <div class="pull-left col-12 col-md-12 pl-0">                    
        <div class="form-inline">
          <label for="Employee Name" class="col-3 col-md-3 pl-0">Name:</label>
         <input type="text" class="form-control col-6 col-md-6 ptb-4" id="name" name="name" placeholder=" Name">
        </div>
        <div class="form-inline">
          <label for="pay" class="col-3 col-md-3 pl-0">Pay Cycle:</label>
          <select class="form-control addrCon formSelect col-6 col-md-6" id="pay" name="pay" style="background:#f5f5f5 !important; border:1px solid #ced4da !important">
                <option>Select</option>
                <option>Pay Cycle 1</option>
                <option>Pay Cycle 2</option>
              </select>
        </div>
        <div class="form-inline">
          <label for="Flat Rate" class="col-3 col-md-3 pl-0">Flat Rate:</label>
         <input type="text" class="form-control col-6 col-md-6 ptb-4" id="flat" name="Flat Rate" placeholder="Rs.XXXX">
        </div>
        <div class="form-inline">
        <label for="Flat Rate" class="col-3 col-md-3 pl-0">Formula:</label>
        <div class="form-check checkCol pull-left" style="margin-bottom: 14px;">
                                <label class="checkBox smallFont mb-0"> 
                                  <input type="checkbox" name="option1" checked="">
                                  <span class="checkmark check1 mt-1"></span> </label>
                              </div>
        </div>
        <div class="form-inline">
          <label for="Flat Rate" class="col-3 col-md-3 pl-0"></label>
         <input type="text" class="form-control col-6 col-md-6 ptb-4" id="formula" name="Formula" placeholder="Formula">
        </div>
      
        <div class="form-inline">
        <label for="Benefits" class="col-3 col-md-3 pl-0">Benefits:</label>
        <div class="form-check checkCol pull-left" style="margin-bottom: 14px;">
                                <label class="checkBox smallFont mb-0"> 
                                  <input type="checkbox" name="option1" checked="">
                                  <span class="checkmark check1 mt-1"></span> </label>
                              </div>
        </div>
      <div class="form-inline">
          <label for="Benefit Type" class="col-3 col-md-3 pl-0">Benefit Type:</label>
          <select class="form-control addrCon formSelect col-6 col-md-6" id="type" name="type" style="background:#f5f5f5 !important; border:1px solid #ced4da !important">
                <option>Select</option>
                <option>Benefit 1</option>
                <option>Benefit 2</option>
                <option>Benefit 3</option>
              </select>
        </div>
        <div class="form-inline">
          <label for="Flat Rate" class="col-3 col-md-3 pl-0">Description</label>
         <textarea type="text" class="form-control col-6 col-md-6 ptb-4" name="Formula" placeholder="Description" style="min-height:25px"></textarea>
        </div>
           
        </div>
         <div class="buttonCon pull-left">
          <button type="submit" class="btn templateBg" data-toggle="modal" onclick="javascript: document.location.href='#'">Save</button>
         </div>
          </form>
         </div> 
         
        </div>
        <div id="allowance" class="container tab-pane fade">
          <div class="formBody clearfix">
          <form>
        <div class="pull-left col-12 col-md-12 pl-0">                    
        <div class="form-inline">
          <label for="Employee Name" class="col-4 col-md-4 pl-0">Name:</label>
         <input type="text" class="form-control col-8 col-md-8 ptb-4" id="name" name="name" placeholder=" Name">
        </div>
        <div class="form-inline">
          <label for="pay" class="col-4 col-md-4 pl-0">Pay Cycle:</label>
          <select class="form-control addrCon formSelect col-8 col-md-8" id="pay" name="pay" style="background:#f5f5f5 !important; border:1px solid #ced4da !important">
                <option>Select</option>
                <option>Pay Cycle 1</option>
                <option>Pay Cycle 2</option>
              </select>
        </div>
        <div class="form-inline">
          <label for="Flat Rate" class="col-4 col-md-4 pl-0">Flat Rate:</label>
         <input type="text" class="form-control col-8 col-md-8 ptb-4" id="flat" name="Flat Rate" placeholder="Rs.XXXX">
        </div>
        <div class="form-inline">
        <label for="Flat Rate" class="col-4 col-md-4 pl-0">Formula:</label>
        <div class="form-check checkCol pull-left" style="margin-bottom: 14px;">
                                <label class="checkBox smallFont mb-0"> 
                                  <input type="checkbox" name="option1" checked="">
                                  <span class="checkmark check1 mt-1"></span> </label>
                              </div>
        </div>
        <div class="form-inline">
          <label for="Flat Rate" class="col-4 col-md-4 pl-0"></label>
         <input type="text" class="form-control col-8 col-md-8 ptb-4" id="formula" name="Formula" placeholder="Formula">
        </div>
      
        <div class="form-inline">
        <label for="Benefits" class="col-4 col-md-4 pl-0">Benefits:</label>
        <div class="form-check checkCol pull-left" style="margin-bottom: 14px;">
                                <label class="checkBox smallFont mb-0"> 
                                  <input type="checkbox" name="option1" checked="">
                                  <span class="checkmark check1 mt-1"></span> </label>
                              </div>
        </div>
      <div class="form-inline">
          <label for="Benefit Type" class="col-4 col-md-4 pl-0">Benefit Type:</label>
          <select class="form-control addrCon formSelect col-8 col-md-8" id="type" name="type" style="background:#f5f5f5 !important; border:1px solid #ced4da !important">
                <option>Select</option>
                <option>Benefit 1</option>
                <option>Benefit 2</option>
                <option>Benefit 3</option>
              </select>
        </div>
        <div class="form-inline">
          <label for="Flat Rate" class="col-4 col-md-4 pl-0">Description</label>
         <textarea type="text" class="form-control col-8 col-md-8 ptb-4" name="Formula" placeholder="Description" style="min-height:25px"></textarea>
        </div>
           
        </div>
         <div class="buttonCon pull-right">
          <button type="submit" class="btn templateBg" data-toggle="modal" onclick="javascript: document.location.href='#'">Save</button>
         </div>
          </form>
         </div> 
         
        </div>
    
      </div>
            </div>
        </div>
</div>