<div class="container-fluid gridBody pt-0">

  <!-- <h5>HR & Payroll</h5> -->

  <div class="container pl-0 pt-3">
    
    <div class="col-12 col-md-12 pb-2 clearfix globalCon">
      <div class="iconCon p-0 pull-left">
        <i class="fa fa-file-text gsearch-icon" aria-hidden="true"></i>
        </div>
        <div class="col-6 col-md-6 p-0 pull-left">
          <p>Payroll</p>
          <p>HR & Payroll (iPay)\Setup\Payroll</p>
        </div>
        <div class="col-4 col-md-4 p-0 pull-left">
         <p><strong>Type: </strong> HTML File </p>
        </div>
      
  </div>
  <div class="col-12 col-md-12 pb-2 clearfix globalCon">
    <div class="iconCon p-0 pull-left">
      <i class="fa fa-file-text gsearch-icon" aria-hidden="true"></i>
      </div>
      <div class="col-6 col-md-6 p-0 pull-left">
        <p>Payroll</p>
        <p>HR & Payroll (iPay)\Payroll & Appraisal\Payroll</p>
      </div>
      <div class="col-4 col-md-4 p-0 pull-left">
       <p><strong>Type: </strong> HTML File </p>
      </div>
    
</div>
<div class="col-12 col-md-12 pb-2 clearfix globalCon">
  <div class="iconCon p-0 pull-left">
    <i class="fa fa-file-text gsearch-icon" aria-hidden="true"></i>
    </div>
    <div class="col-6 col-md-6 p-0 pull-left">
      <p>Pay Elements</p>
      <p>HR & Payroll (iPay)\Setup\Payroll\Payroll\Pay Elements</p>
    </div>
    <div class="col-4 col-md-4 p-0 pull-left">
     <p><strong>Type: </strong> HTML File </p>
    </div>
  
</div>
<div class="col-12 col-md-12 pb-2 clearfix globalCon">
  <div class="iconCon p-0 pull-left">
    <i class="fa fa-file-text gsearch-icon" aria-hidden="true"></i>
    </div>
    <div class="col-6 col-md-6 p-0 pull-left">
      <p>Pay Slab</p>
      <p>HR & Payroll (iPay)\Setup\Payroll\Payroll\Pay Slab</p>
    </div>
    <div class="col-4 col-md-4 p-0 pull-left">
     <p><strong>Type: </strong> HTML File </p>
    </div>
  
</div>
<div class="col-12 col-md-12 pb-2 clearfix globalCon">
  <div class="iconCon p-0 pull-left">
    <i class="fa fa-file-text gsearch-icon" aria-hidden="true"></i>
    </div>
    <div class="col-6 col-md-6 p-0 pull-left">
      <p>Payroll</p>
      <p>HR & Payroll (iPay)\Payroll & Appraisal\Payroll</p>
    </div>
    <div class="col-4 col-md-4 p-0 pull-left">
     <p><strong>Type: </strong> HTML File </p>
    </div>
  
</div>
<div class="col-12 col-md-12 pb-2 clearfix globalCon">
<div class="iconCon p-0 pull-left">
  <i class="fa fa-file-text gsearch-icon" aria-hidden="true"></i>
  </div>
  <div class="col-6 col-md-6 p-0 pull-left">
    <p>Pay Elements</p>
    <p>HR & Payroll (iPay)\Setup\Payroll\Payroll\Pay Elements</p>
  </div>
  <div class="col-4 col-md-4 p-0 pull-left">
   <p><strong>Type: </strong> HTML File </p>
  </div>

</div>
 
<div class="col-12 col-md-12 pb-2 clearfix globalCon">
  <div class="iconCon p-0 pull-left">
    <i class="fa fa-file-text gsearch-icon" aria-hidden="true"></i>
    </div>
    <div class="col-6 col-md-6 p-0 pull-left">
      <p>Payroll</p>
      <p>HR & Payroll (iPay)\Setup\Payroll</p>
    </div>
    <div class="col-4 col-md-4 p-0 pull-left">
     <p><strong>Type: </strong> HTML File </p>
    </div>
  
</div>
<div class="col-12 col-md-12 pb-2 clearfix globalCon">
<div class="iconCon p-0 pull-left">
  <i class="fa fa-file-text gsearch-icon" aria-hidden="true"></i>
  </div>
  <div class="col-6 col-md-6 p-0 pull-left">
    <p>Payroll</p>
    <p>HR & Payroll (iPay)\Payroll & Appraisal\Payroll</p>
  </div>
  <div class="col-4 col-md-4 p-0 pull-left">
   <p><strong>Type: </strong> HTML File </p>
  </div>

</div>
  </div>

</div>
