
@import "../node_modules/ag-grid-community/dist/styles/ag-grid.css";
@import "../node_modules/ag-grid-community/dist/styles/ag-theme-balham.css";
body {
    overflow-x: hidden;
    overflow-y: hidden;
}
.ag-theme-balham{    font-size: 10px !important;}
button:disabled{opacity:.3}
.ag-theme-balham .sick-days-warning {
    background-color: sandybrown !important;
}
.ag-theme-balham .sick-days-breach {
    background-color: #e5ece9 !important;
}
.ag-theme-balham .ag-row-selected{ background-color: #87aeaa !important;}
.errorred{
    color: red !important ;
    font-size:10px;
}

.no-spin::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
  .ag-theme-balham .ag-row-selected {
    background-color: #c2dcde ;
}
.ag-theme-balham .ag-row-selected {
    border-color: #bdc3c3 !important;
}
.liSelected{background-color: #c2dcde !important;}
.ag-header-cell-menu-button{opacity:1 !important}
.ag-column-menu-visible{background: #2e6d72 !important; color:#fff !important;}