
@import "../node_modules/ag-grid-community/dist/styles/ag-grid.css";
@import "../node_modules/ag-grid-community/dist/styles/ag-theme-balham.css";
body {
    overflow-x: hidden;
    overflow-y: hidden;
}

.errorred{
    color: red !important ;
    font-size:10px;
}

.no-spin::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }

